html,body{height:100%}
.container-fluid,.container-fluid .row{padding:0;margin:0}
.index_top{width:100%;min-width:1024px;height:68px;border-bottom:1px solid #dedede;background:url(../images/top_bg.jpg) repeat-x;overflow:hidden;position:fixed;z-index:99;}
.logo img{margin:12px 20px 0 64px;float:left;width:418px;height:42px;}
.logo span{line-height:74px;font-size:18px;color:#0a558d;font-weight:700;float:left}
.logo_p{width:58px;height:60px;background:url(../images/logo_right.png) no-repeat;background-size:100% 100%;margin:7px 9px 0 0;float:left}
.logo_p img{display:block;margin:5px auto 0 auto}
.top_right .icon_a{cursor:pointer;width:58px;height:40px;border-left:1px solid #7a96aa;margin-top:15px}
.top_right .icon_a i{width:18px;height:20px;background:url(../images/icon.png) no-repeat 0 0;display:block;margin:10px auto 0 auto}
.logo_span{margin:12px 20px 0 0}
.logo_span span{display:block;color:#0a558d;line-height:23px}
/*main_con*/
.main{background:#2a3f54;width: 100%;}
.main_con{min-width:1024px}
.main_con .main_left{width:230px;background:#2a3f54;display:flex;position:absolute;padding-bottom:0px;}
.main_con .main_left_wid{width:60px;background:#2a3f54;display:flex;position:absolute;padding-bottom:60px;padding-top:15px;overflow:hidden;}
.main_con .main_left span{display:block}
.main_con .main_left_wid a{display: inline-block;}
.main_con .main_left_wid span{display:none}
.main_con .main_right{background:#f7f7f7;margin-left:230px;overflow:hidden;}
.main_con .main_right_col{margin-left:60px;background:#f7f7f7;overflow:hidden;padding:4px 0 40px 0}
.main_left .left_ul{width:100%;padding-top:14px;background:#2a3f54;padding-bottom:14px;overflow: hidden;}
.left_ul .firstLi{width:100%;border-bottom:1px solid #2a3f54;overflow:hidden;}
.left_ul .firstLi .aPleft{display: block;border-left:4px solid #2a3f54;overflow:hidden;}
.left_ul .secondUl li{position: relative;}
.left_ul li em{width:100%;height:2px;position:absolute;left:0;bottom:0;background:url(../images/li_bom.jpg) repeat-x;display:none}
.left_ul li.li_active{border-bottom:1px solid #25313b}
.left_ul li.li_active1{border-top:1px solid #4a5c6d;}
.left_ul li i{width:22px;height:22px;float:left;background:url(../images/newicon.png) no-repeat 0 0px;margin:15px 23px 10px 21px;}
.left_ul li i.i_1{background-position:0 -60px}
.left_ul li i.i_2{background-position:0 -62px}
.left_ul li i.i_3{background-position:0 -120px}
.left_ul li i.i_4{background-position:0 -180px}
.left_ul li i.i_5{background-position:0 -234px}
.left_ul li i.i_6{background-position:0 -290px}
.left_ul li i.i_7{background-position:0 -640px}
.left_ul li i.i_8{background-position:0 -348px}
.left_ul li i.i_9{background-position:0 -406px}
.left_ul li i.i_10{background-position:0 -524px}
.left_ul li i.i_11{background-position:0 -580px}
.left_ul li i.i_12{background-position:0 -754px}
.left_ul li i.i_13{background-position:0 -698px}
.left_ul li i.i_14{background-position:0 -812px}
.left_ul li span{line-height:48px;color:#d3d6d9;font-size:16px}
.left_ul li.li_active{background:#202f3c;}
.left_ul li.li_active .aPleft{border-left-color:#ff9900;}
.left_ul li.li_active i{background-position:-88px 0px}
.left_ul li.li_active i.i_1{background-position:-30px -60px}
.left_ul li.li_active i.i_2{background-position:-88px -62px}
.left_ul li.li_active i.i_3{background-position:-88px -120px}
.left_ul li.li_active i.i_4{background-position:-88px -180px}
.left_ul li.li_active i.i_5{background-position:-88px -234px}
.left_ul li.li_active i.i_6{background-position:-88px -290px}
.left_ul li.li_active i.i_7{background-position:-88px -640px}
.left_ul li.li_active i.i_8{background-position:-88px -348px}
.left_ul li.li_active i.i_9{background-position:-88px -406px}
.left_ul li.li_active i.i_10{background-position:-88px -524px}
.left_ul li.li_active i.i_11{background-position:-88px -580px}
.left_ul li.li_active i.i_12{background-position:-88px -754px}
.left_ul li.li_active i.i_13{background-position:-88px -698px}
.left_ul li.li_active i.i_14{background-position:-88px -812px}
.left_ul li.li_active span{color:#fff}
.left_ul ul{background-color: #2a3f54;}
.left_ul ul li{border-top:none;}
.left_ul ul li p{height:48px;line-height:48px;font-size:16px;color:#d3d6d9;padding-left: 70px;white-space:nowrap;}
.main_left_wid .left_ul ul li p{width:60px;}
.left_ul li.twoli_active{background-color:#00a0d4}
.left_ul li.secondMenu .littleDot{width:10px;height:10px;border-radius:50%;background-color: #ff9900;position: absolute;top:20px;left: 42px;}
.left_ul li.secondMenu  p{color: #fff;}
    /*local*/
.index_local{width:100%;height:33px;background:#f7f7f7}
/*.index_local1{margin-top:1px;width:100%;height:32px;background:#f7f7f7}*/
.index_local1 i{float:left;margin:9px 5px 0 20px;width:16px;height:13px;background:url(../images/icon.png) no-repeat 0 -210px}
.index_local1 a{color:#666;font-size:14px;line-height:30px}
.index_local1 span{margin:0 10px}
/*index_process*/
.index_process{padding:12px 0 8px 0;border-bottom:1px solid #c3c3c3;overflow:hidden;margin:0 20px;box-shadow:0 1px 1px #fff}
.index_process li{width:230px;float:left;height:68px}
.index_process li i{width:53px;height:53px;float:left;background:url(../images/icon.png) no-repeat -60px 0;margin:8px 20px 0 0}
.index_process li i.i_1{background-position:-60px -60px}
.index_process li i.i_2{background-position:-60px -120px}
.index_process li span{line-height:68px;font-size:14px;color:#666}
.index_process li.li_active span{color:#0b7cc3;font-weight:700}
.index_process li.li_active i{background-position:-120px 0}
.index_process li.li_active i.i_1{background-position:-120px -60px}
.index_process li.li_active i.i_2{background-position:-120px -120px}
.index_process li.li_finish i{background-position:-180px 0}
.index_process li.li_finish i.i_1{background-position:-180px -60px}
.index_process li.li_finish i.i_2{background-position:-180px -120px}
.index_process li.li_finish span{color: #f27318}
.index_process li.li_finish1 span{font-weight: bold}
.index_con{margin:0 20px 0 20px}
.index_con .index_list{width:100%;overflow:hidden;border:1px solid #cdcdcd;background:#fff;position: relative}
.index_list .index_pos{display: none}
.index_list .index_pos .pos_abs{position: absolute;width: 100%;height: 100%;background: #000;opacity: 0.3;filter: progid:DXImageTransform.Microsoft.Alpha(opacity=30);z-index: 111;}
.index_list .index_pos span{color: #fff;font-size: 18px;position: absolute;width: 100%;text-align: center;top: 50%;margin-top: -5px;z-index: 999;font-weight: bold}
.index_tit{width:100%;height:37px;background:#efefef}
.index_tit h6{line-height:37px;padding-left:20px;font-size:16px;color:#333}
.index_tit div.fr .div_a a:hover{color:#fd9a9a;}
.list_ul{width:100%;padding:20px 0;overflow:hidden}
.list_ul li{width:23%;height:44px;text-align:right;float:left;position:relative}
.list_ul li em{color:#f5752d;font-size:14px;line-height:44px}
.list_ul li strong{color:#f5752d;font-size:12px;line-height:44px;overflow:hidden;height:100%;width:100%;position:absolute;left:0;font-weight:400;text-align:left;top:21px;}
.list_ul li span{color:#333;font-size:14px;line-height:44px}
.list_ul li input{width:80%;height:26px;border:1px solid #cdcdcd;margin-top:8px;text-align:left;box-shadow:inset 0 1px 1px rgba(0,0,0,.075);line-height:26px;float: left}
.list_ul li input:focus{border:1px solid #f27318;box-shadow:0 0 2px #fde8dc}

.list_ul li input.ng-dirty.ng-invalid {border: 1px solid red; }
.list_tit{padding: 23px 0 0 0;}
.list_tab .list_ul{padding: 0 0 23px 0;}

/*date-start*/
.list_ul li input.date{background:#fff url(../images/date.png) no-repeat center right!important}
.beatpicker-clear{display:none}
.beatpicker .main-nav{background:#1a82c3}
.beatpicker .button,.beatpicker .days .cell.notable-today,.beatpicker .main-nav .current-indicator{background:#0b7cc3}
.beatpicker .button:hover,.beatpicker .days .cell-parent li.cell.selected-date,.beatpicker .days .cell-parent li.cell:hover,.beatpicker .main-nav .button.next:hover,.beatpicker .main-nav .button.prev:hover,.beatpicker .main-nav .current-indicator:hover{background:#075585}
/*date-end*/
.list_ul_radio li{height:27px}
.list_ul_radio li span{line-height:27px}
.list_ul1 li{height:27px}
.list_ul1 li span,.list_ul1 li em{line-height: 27px;}
.list_ul1 li input{margin-top: 0;line-height: 27px;border: 0;box-shadow: none;}
.list_ul1 li input:focus{border: 0;box-shadow: none;}
.list_ul li select{width:83%;height:26px;border:1px solid #cdcdcd;margin-top:8px;border-radius:0;padding:0}
.list_ul li select:focus{border:1px solid #f27318;box-shadow:0 0 2px #fde8dc}
.list_ul li select.ng-dirty.ng-invalid {border: 1px solid red; }
/*btn*/
.index_btn{width:100%;margin-top:15px;overflow:hidden}
.index_btn a{float:left;width:75px;height:26px;border:1px solid #0b7cc3;margin-right:10px}
.index_btn a i{float:left;width:17px;height:16px;background:url(../images/icon.png) no-repeat 0 -240px;margin:5px 10px 0 10px}
.index_btn a i.i_1{background-position:0 -270px}
.index_btn a i.i_2{background-position:0 -300px}
.index_btn a i.i_3{background-position:0 -330px}
.index_btn a i.i_4{background-position:0 -370px}
.index_btn a span{float:left;line-height:26px;font-size:14px;color:#0b7cc3}
.index_btn1{width:180px;height:36px;margin:6px auto 0 auto;clear:both;position:relative}
.index_btn1 button{border: 0;padding: 0;}
.index_btn1 .submit{width:100%;height:100%;border-radius:2px;background:#f27318;color:#fff;text-align:center;line-height:36px;font-size:16px;float:left}
.index_btn1 .edit{line-height:36px;position:absolute;left:220px;width:50px;font-size:16px;color:#0b7cc3;background: none;}
.index_btn2{margin-top:20px}
/*radio*/
.list_ul li.li_wid{width:75%}
.list_ul li .radio{display:block;width:27px;height:20px;background:url(../images/radio.png) 0 -23px no-repeat;padding-left:20px;float:left;margin-top:8px;cursor:pointer;}
.list_ul li .marr43{margin-top: 8px;}
.list_ul li .on{display:block;width:27px;height:20px;background:url(../images/radio.png) 0 0 no-repeat;padding-left:20px;float:left;margin-top:8px;cursor:pointer;}
.list_ul li .mar_right{width: 80px;}
.list_ul li .mar_right1{width: 80px;}
.list_ul li .mar_right2{width: 128px;}
.list_ul li .mar_right3{width: 45px;}
.list_ul li .radio em,.list_ul li .on em{float:left;line-height:14px;color:#333;width:85px;text-align:left}
.list_ul li .radio1 em{width:54px}
.list_ul li .radio b{font-weight:400;line-height:14px}
.list_ul li .radio input{width:178px;height:26px;margin-top:-7px;background:#f7f7f7}
.list_ul li .radio input.input_active{background:#fff}
/*table*/
.index_list table{border-left:0;border-right:0!important;margin-bottom:0!important}
.index_list table td,.index_list table th{border-left:0;height:26px;padding:2px!important;text-align:center;line-height:26px!important;border-left:0!important}
.index_list table th{border-bottom:0!important;font-weight:700}
.index_list table td.t_last,.index_list table th.t_last{width:135px;border-right:0!important}
.index_list table td.t_last .div_pad{padding:0 23px}
.index_tit div.fr .div_a{margin-right:20px;float:left;cursor: pointer}
.index_tit div.fr span{line-height:37px;font-size:14px;color:#333}
.index_tit div.fr .div_a i{float:left;width:16px;height:16px;background:url(../images/icon.png) no-repeat 0 -360px;margin:10px 10px 0 0}
.index_tit div.fr .div_a i.i_1{background-position:0 -390px}
.index_tit div.fr .div_a i.i_2{background-position:0 -420px}
.index_tit div.fr .div_a span{line-height:37px;font-size:14px;color:#0b7cc3;float:left}
.index_tit div.fr select{width:108px;height:26px;border:1px solid #cdcdcd;margin-top:5px}
.index_tit div.fr select:focus{border:1px solid #f27318;box-shadow:0 0 2px #fde8dc}
.index_list table td span{line-height:28px;font-size:14px;color:#cdcdcd;margin:0 10px}
.index_list table td span.a_edit,.index_list table td span.a_delete{color:#0b7cc3;font-size: 14px;line-height: 28px;cursor: pointer}
.index_list table td span.a_edit{margin-right: 0;}
.index_list table td span.a_delete{margin-left: 0;}
.index_list table td a{color:#0b7cc3;font-size:14px}
.index_list table td .a_col{color:#0b7cc3;font-size:14px;cursor: pointer}
.index_page{width:auto;height:54px;background:#fff;float: left}
.index_page .a_download{width:108px;height:26px;border-radius:2px;border:1px solid #f27318;margin:13px 0 0 20px}
.index_page .a_download i{width:18px;height:15px;float:left;background:url(../images/icon.png) no-repeat -30px -210px;margin:6px 10px 0 9px}
.index_page .a_download span{line-height:26px;font-size:14px;color:#f27318}
.index_page span{line-height:54px;font-size:14px;color:#333}
.index_page select{width:54px;height:22px;border:1px solid #cdcdcd;font-size:14px;color:#666}
.index_page .page{height:24px;float:right;margin:15px 10px 0 10px}
.index_page .page li{float:left;margin-right:10px;width:22px;height:22px;border:1px solid #c3c3c3;border-radius:2px;text-align:center;line-height:22px;background:#f9f9f9;cursor:pointer;font-size:12px}
.index_page .page li.li_active{background:#f27318;border:1px solid #f27318;color:#fff}
.index_page .page li.li_first i{display:block;width:5px;height:9px;background:url(../images/icon.png) no-repeat -30px -240px;margin:7px auto 0 auto}
.index_page .page li.li_last i{display:block;width:5px;height:9px;background:url(../images/icon.png) no-repeat -30px -270px;margin:7px auto 0 auto}
/*线下收费待确认*/
.pending_btn{width:100%;height:52px;border-top:1px solid #cdcdcd}
.pending_btn1{width:140px;height:32px;margin:10px auto 0 auto;position:relative}
.pending_btn1 a.a_search{width:100%;float:left;height:32px;background:#0b7cc3;text-align:center;line-height:32px;color:#fff;font-size:16px;border-radius:5px}
.pending_btn1 a.a_reset{float:left;position:absolute;left:180px;top:0;font-size:16px;color:#0b7cc3;width:100px;line-height:32px}
.pend_ul{width:100%;height:50px;margin-top:20px;border-bottom:1px solid #f27318;padding-left:20px}
.pend_ul li{width:224px;height:48px;background:#efefef;float:left;border:1px solid #cdcdcd;border-bottom:1px solid #efefef;line-height:48px}
.pend_ul li.pend_li_first{border-right:0}
.pend_ul li.pend_li_last{border-left:0}



.pend_ul li i{float:left;width:18px;height:20px;background:url(../images/icon.png) no-repeat -30px -300px;margin:14px 10px 0 40px}
.pend_ul li i.i_1{background-position:-30px -330px}
.pend_ul li span{font-size:16px;color:#0b7cc3;float:left;line-height:48px}
.pend_ul li em{height:16px;padding:0 7px;border-radius:5px;color:#fff;float:left;background:#f27318;line-height:16px;margin:16px 0 0 10px;font-size:12px}
.pend_ul li.li_active{border:1px solid #f27318;border-bottom:0;height:50px}
.pend_ul li.li_active i{background-position:-30px -360px}
.pend_ul li.li_active i.i_1{background-position:-30px -390px}
.pend_ul li.li_active span{color:#f27318}

/*弹层-wangjijun*/
/*删除投保*/
.mask{width:100%;height:100%;background:#000;opacity: 0.3;filter: progid:DXImageTransform.Microsoft.Alpha(opacity=30);position: fixed;left: 0;top: 0;z-index: 111;}
.mask_remove,.newMask{z-index: 999;position:fixed;top:30%;left:50%;background-color:#fff;width:516px;box-shadow:0 0 15px rgba(0,0,0,0.15);margin-left:-258px;border-radius:5px;}
.mask_remove ul li{clear:both;}
.remove_header{width:100%;height:37px;border-bottom:1px solid #cdcdcd;background:#2a3f54;border-top-left-radius: 3px;border-top-right-radius: 3px;line-height:37px;    text-align: left;}
.remove_header span{font-size:16px;color:#fff;margin-left:19px;}
.remove_header i{float:right;width:24px;height:24px;background:url("../images/icon.png") no-repeat -60px -180px;margin:7px 16px auto auto;cursor:pointer;}
.remove_content1,.remove_content2{width:100%;height:28px;vertical-align:middle;}
.remove_content1 span,.remove_content2 span{width:112px;height:28px;line-height:28px;text-align:right;color:#333;font-size:14px;}
.remove_content1 select,.remove_content2 input{box-sizing:border-box;width:170px;height:28px;border:1px solid #cdcdcd;margin-left:10px;color:#333;font-size:14px;line-height:26px}
.remove_content1 select:focus{border: 1px solid #f27318;box-shadow: 0 0 2px #fde8dc;outline:0;}
.remove_content2 input:focus{border: 1px solid #f27318;box-shadow: 0 0 2px #fde8dc;}
.remove_content1{margin-top:20px;}
.remove_content1 em{color: #f5752d;font-size: 16px;}
.remove_content1 select{color:#333;}
.remove_content2{margin:16px auto 20px auto;}
.remove_content2 input{box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);}
.remove_button{width:100%;height:58px;border-top:1px solid #dfdfdf;line-height:58px;}
.remove_button div{margin-left:75px;}
.remove_button div a{text-align:center;line-height:28px;font-size:14px;}
.button_sure{display:inline-block;width:90px;height:28px;border-radius:3px;background:#f27318;color:#fff;border: 0;padding: 0;line-height: 28px;}
.button_sure:active,.button_sure:hover{color: #fff;}
.button_cancel{display:inline-block;width:88px;height:26px;border:1px solid #dfdfdf;border-radius:3px;color:#666;margin-left:20px;border: 0;padding: 0;line-height: 28px;}
.button_cancel:active,.button_cancel:hover{color: #666;}
/*修改被保险人及标的*/
.remove_header span.insurant i{float:none;display:inline-block;position: relative;top:-1px;width:16px;height:16px;background:url("../images/icon.png") no-repeat -60px -209px;margin:0px;vertical-align:middle;margin-right:5px;}
.remove_header span.insurant i.click_checked{background:url("../images/icon.png") no-repeat -60px -237px;}
.remove_header span.insurant{margin-left:55px;}
.revise_insurant ul.list_ul{padding:22px auto 12px auto;}
.revise_insurant{position:fixed;top:50%;left:50%;background-color:#fff;width:838px;box-shadow:0 0 15px rgba(0,0,0,0.15);margin:-298px auto auto -419px;border-radius:5px;z-index: 999;}
.revise_insurant .revise_info li{width:190px;}
.revise_insurant .revise_info li select,.revise_insurant .revise_info li input{box-sizing:border-box;width:200px;height:28px;}
.revise_insurant .revise_info li select:focus{outline:0;}
.clear_after:after{content:"";clear:both;}
.full_width:before{content:"";clear:both;}
.revise_insurant .revise_info li.long_width{width:auto;}
.revise_insurant .revise_info li.long_width select{width:180px;}
.revise_insurant .revise_info li.long_width input{width:580px;}
.revise_insurant .li_home .radio em{width:70px;}
.list_ul li .floor_width em{width:auto;}
.list_ul li .floor_width input{width:20px;height:20px;border:none;border-bottom:1px solid #999;color:#f27318;line-height:18px;background:none;text-align:center;box-shadow:none;padding:0px;float: none}
.list_ul li.auto_width{width:auto;}
.list_ul li.auto_width input.floor_num{width: 23px;height:19px;padding: 0;margin-top: -5px;text-align: center;color: #f27318;border: 0;border-bottom: 1px solid #ccc;box-shadow: none;}
.list_ul li.auto_width em.em_last{width: 20px;}
.li_question a{float:left;width:18px;height:18px;background:url("../images/icon.png") no-repeat -60px -261px;margin:15px;}
.revise_insurant .revise_info li span{margin-left:5px;}
.revise_insurant .revise_info li.long_width .form-control{margin-right:20px;}
.revise_insurant .revise_info li.li_time{margin-left:-47px;}
.revise_insurant .list_ul{padding-top:22px;padding-bottom:12px;}
/*文件上传-投保*/
.list_ul_1 li{width: 21%;}
.insure_content table th.t_last{width: 70px;}
.insure{z-index: 999;position:fixed;top:50%;left:50%;background-color:#fff;width:652px;height:auto;box-shadow:0 0 15px rgba(0,0,0,0.15);margin:-179px auto auto -362px;border-radius:5px;}
.file_list{width:100%;height:46px;border-bottom:1px solid #cdcdcd;color:#0b7cc3;line-height:60px;}
.file_list span{font-size:16px;}
.insure_content .file_list i{display:inline-block;width:17px;height:17px;background:url("../images/icon.png") no-repeat -60px -303px;vertical-align:middle;margin-left:20px;margin-right:10px;}
.insure_content table{width:100%;}
.insure_content table tr th,.insure_content table tr td{text-align:center;}
.insure_content table tr th{background:#efefef;border-right:1px solid #dfdfdf;border-bottom:1px solid #dfdfdf;height:36px;}
.insure_content table tr td{border-right:1px solid #dfdfdf;border-bottom:1px solid #dfdfdf;height:32px;}
.insure_content table tr th:last-child{border-right:none;}
.insure_content table tr td:last-child{border-right:none;}
.insure_content table tr a{color:#0b7cc3;}
.insure_content .list_ul{padding:12px 0;margin-left: -3%;}
/*.insure_content .list_ul li{width:112px;}*/
.insure_content .list_ul input,.insure_content .list_ul select{width:157px;margin-left:5px;}
.insure_content .list_ul .file_name{width:185px;}
.insure_content .list_ul .file_up{width:auto;}
.insure_content .file_up input{ vertical-align:middle; margin:0; padding:0}
.insure_content .file-box{ position:relative;width:auto;left:5px;height:44px;line-height:44px;}
.insure_content .list_ul .txt{ height:26px; border:1px solid #cdcdcd; width:347px;margin-top:8px;padding-left:5px;}
.insure_content .list_ul .btn{ background:#0b7cc3;height:28px;box-shadow:none;border:none; width:46px;text-align:center;border-radius:0;margin-top:8px;color:#fff;margin-left:-47px;}
.insure_content .list_ul .btn_up{background:#f27318;height:28px;width:90px;text-align:center;color:#fff;margin-top:8px;margin-left:42px;box-shadow:0;border-radius:3px;border:0;}
.insure_content .list_ul .file{position:absolute; top:0; left:0px; height:26px; filter:alpha(opacity:0);opacity: 0;width:350px ;margin-top:8px;}
.insure_content .list_ul .file_info input{width:346px;}
/*文件上传批改*/
.insure_correct{z-index: 999;position:fixed;width:820px;height:392px;top:50%;left:50%;margin-left:-410px;margin-top:-196px;background:#fff;border-radius:5px;}
/*上传失败*/
.fail_up{z-index: 999;position:fixed;width:374px;height:198px;top:50%;left:50%;margin-left:-187px;margin-top:-99px;background:#fff;border-radius:5px;}
.up_content{height:59px;margin:20px 0 20px 40px;line-height:30px;}
.up_content span{font-size:16px;}
.up_content .up_fail{color:#f27318;}
.file_button{height:58px;border-top:1px solid #dfdfdf;}
.file_button a{display:block;width:90px;height:29px;background:#f27318;text-align:center;line-height:29px;color:#fff;font-size:16px;margin:15px auto 15px auto;border-radius:3px;}
/*导入被保险人及标的列表*/
.file_down{z-index: 999;position:fixed;width:722px;height:171px;top:50%;left:50%;margin-left:-361px;margin-top:-65px;background:#fff;border-radius:5px;}
.file_down .list_ul{padding:22px 0;}
.file_down .list_ul li{width:182px;}
.file_down .list_ul .file_demo{clear:both;}
.file_down .list_ul a{display:block;width:88px;height:26px;text-align:center;line-height:26px;border:1px solid #0b7cc3;margin-left:5px;color:#0b7cc3;margin-top:8px;}
.file_down .file_up input{ vertical-align:middle; margin:0; padding:0}
.file_down .file_up .file-box{ position:relative;width:500px;left:5px;height:44px;line-height:44px;}
.file_down .list_ul .txt{ height:26px; border:1px solid #cdcdcd; width:345px;margin-top:8px;padding-left:5px;}
.file_down .list_ul .btn{ background:#0b7cc3;height:26px;box-shadow:none;border:none; width:46px;text-align:center;border-radius:0;margin-top:9px;color:#fff;margin-left:-47px;}
.file_down .list_ul .btn_up{background:#f27318;height:28px;width:90px;text-align:center;color:#fff;margin-top:8px;margin-left:42px;box-shadow:0;border-radius:3px;border:0;}
.file_down .list_ul .file{position:absolute; top:0; left:0px; height:26px; filter:alpha(opacity:0);opacity: 0;width:350px ;margin-top:8px;}
/*线上支付*/
.ul_header{width:100%;height:36px;margin-top:20px;}
.ul_header a{width:120px;height:37px;font-size:16px;color:#333;text-align:center;line-height:37px;border:1px solid #c8c8c8;border-bottom:1px solid #f27318;background:#fff;box-sizing:border-box;}
.ul_header .zhifubao,.ul_header .bank_card{border-left:1px solid #cdcdcd;margin-left:-1px;}
.ul_header .pay_border{height:37px;border:1px solid #f27318;border-bottom:none;position: relative;z-index: 999;}
.pay_weichat,.pay_zhifubao,.pay_bank{border:1px solid #f27318;background:#fff;height:auto;}
.pay_weichat,.pay_zhifubao{height:332px;}
/*.pay_zhifubao,.pay_bank{display:none;}*/
.pay_bank{height:229px;}
.pay_weichat>div{width:50%;}
.pay_zhifubao>div{width:50%;}
.pay_weichat i{display:inline-block;width:20px;height:20px;background:url("../images/icon.png") no-repeat -60px -390px;vertical-align:middle;}
.pay_zhifubao i{display:inline-block;width:20px;height:20px;background:url("../images/icon.png") no-repeat -60px -360px;vertical-align:middle;}
.pay_box img{display:block;border:1px solid #cdcdcd;vertical-align:middle;margin:0 auto 6px auto;}
.pay_weichat>div>img,.pay_zhifubao>div>img{margin:37px auto 37px 28px;}
.pay_box{margin:80px 28px auto auto;width:240px;font-size:16px;color:#333;}
.pay_box span{color:#333;font-size:16px;}
.pay_bank{text-align: center;}
.pay_bank ul{width:auto;height:auto;margin-top:10px;margin-left:2%;clear:both;}
.pay_bank li{position:relative;width:14%;height:58px;line-height:59px;float:left;text-align:center;}
.pay_bank a{display:block;width:142px;height:43px;position:relative;}
.pay_bank a img{border:1px solid #cdcdcd;margin:auto;}
.pay_bank div a{display:block;width:180px;height: 36px;background: #f27318;color:#fff;font-size: 16px;text-align:center;line-height:36px;border-radius: 3px;margin:auto;margin-top: 32px;}
.pay_bank a .bg_img{position:absolute;width:142px;height:43px;z-index:99999;top:0;left:0;}
.pay_bank a .img_selected{background:url("../images/img_selected.png") no-repeat right top;}
.index_con .list_ul .order_num{color:#0b7cc3;}
.index_con .list_ul .order_money b{color:#da0000;}
/*支付方式-线下*/
.ul_notice li{width:auto; line-height:44px;}
.ul_notice li.li_first{width:34%;}
.ul_notice li.li_last{width:38%;text-align:left;}
.ul_notice li input{width:48%;}
.ul_notice li a{display:inline-block;width:140px;height:32px;color:#fff;background:#0b7cca;line-height:32px;text-align:center;border-radius:3px;margin:0 32px;}
.ul_notice li .email_notice{color:#0b7cc3;}
.ul_notice1 li{width:34%;}
.ul_notice1 li a{float: left}
/*出单成功*/
.index_list .order_success{margin-top:40px;}
.index_list .order_success i{float:left;width:80px;height:80px;background:url("../images/icon.png") no-repeat -60px -420px;margin:4px 29px 0 40px;}
.index_list .order_success span{line-height:30px;font-size:16px;margin-top:40px;}
.index_list .div_back{height:108px;text-align:center;line-height:108px;}
.index_list .div_back a{font-size:16px;color:#0b7cc3;}
.index_list .div_back .a_back{display:inline-block;width:180px;height:36px;line-height:36px;color:#fff;background:#f27318;border-radius:3px;margin-right:40px;}

/*更改被保险人信息*/
.index_list .index_tit .search_box{width: 70%;}
.index_list .index_tit .search_box div{width:30%;height:26px;border:1px solid #cdcdcd;margin:4.5px 10px auto 0;}
.index_list .index_tit .search_box input{width:74%;height:26px;}
.index_list .index_tit .search_box i{float:right;width:35px;height:26px;border-left:1px solid #cdcdcd;background:#fff url("../images/icon.png") no-repeat -112px -195px;}
.index_list .index_tit .search_box a{float:left;width:100%;height:100%;}
/*更改业务信息*/
.list_ul li.correct_reason{width:62%;}
.list_ul li.correct_reason input{width:100%;}
.index_btn a.policy_info{width:131px;}
.index_btn a i.i_4 {background-position: 0 -240px;}
/*批改确认*/
.list_ul2{padding:0;}
.list_ul2 li,.list_ul2 li span{height:72px;line-height:72px;}
.index_list .correct_content{padding-top:10px;}
.index_list .correct_content p{padding-left:20px;height:32px;line-height:32px;}
.index_list .correct_content table tr{border-top:1px solid #dfdfdf;border-bottom: 1px solid #dfdfdf;}
.index_list .correct_content table th{font-weight: normal;color:#333;background:#f8f8f8;height:36px;line-height:36px;text-align:center;}
.index_list .correct_content table td{height:60px;line-height:normal !important;color:#666;padding:0 25px !important;text-align:left;}
.index_list .correct_content table .list_th1,.index_list .correct_content table .list_td1{border-right:1px solid #dfdfdf;text-align:center;}
.index_list .correct_content table .list_th1{width:200px;}
.index_list .correct_content p.p_bold{height:42px;line-height:52px;}
.index_list .correct_content p.p_bottom{height:42px;line-height:42px;color:#f27318;}
.list_money{height:55px;line-height:55px;text-align:right;}
.list_money p{font-size:16px;padding-right:20px;}
.list_money p b{color:#da0000;}
.index_btn a.a_2{width:103px;}
.index_btn a i.i_5 {background-position: 0 -450px;}
/*退保页面*/
.index_list .list_ul2 li span.radio{margin-top:15px;}
/*弹层-团体客户搜索*/
.group_search{position:fixed;width:1120px;height:240px;top:50%;left:50%;margin-left:-560px;margin-top:-120px;background:#fff;border-radius:5px;z-index: 111;}
.group_search .insure_content{margin:20px auto;}
.group_search .insure_content .td_empty{width:40px;}
.group_search .insure_content a{float:left;width:40px;line-height:32px;}
.group_search .insure_content i{display:block;width:14px;height:14px;background:url("../images/radio.png") no-repeat 0 0;margin-left:13px;}
.group_search .insure_content i.td_i2{background-position: 0 -23px;}
.layer_btn1{height:58px;line-height:50px;text-align:center;border-top:1px solid #dfdfdf;}
.layer_btn1 a{line-height:28px;}
/*弹层-个人客户搜索*/
.person_search{position:fixed;width:622px;height:240px;top:50%;left:50%;margin-left:-311px;margin-top:-120px;background:#fff;border-radius:5px;}
/*弹层-文件上传*/
.insure_1{position:fixed;top:50%;left:50%;background-color:#fff;width:642px;height:auto;box-shadow:0 0 15px rgba(0,0,0,0.15);margin:-179px auto auto -321px;border-radius:5px;z-index: 111;}
/*批单成功*/
.index_list .order_success .order_span{display:inline-block;line-height: 30px;font-size: 16px;margin-top:13px;}





/*login*/
.login_title{float: left;width: 50%;padding-top:100px;text-align: center;}
.login_title h2{font-size:40px;font-weight:bold;color:#fff;}
.login_title p{font-size:30px;color:#fff;}
.login_img{background: url("../images/login_bg.jpg") no-repeat;background-size:cover;}
.login_logo{position:relative;width:261px;height:43px;margin:20px;}
.login_main{height: 100%;}
.login_top{position: absolute;top: 0;left: 0;z-index: 1;}
.login{min-width:1024px;position: relative;height: 100%;min-height: 540px;overflow:hidden}
.login .login_img{width: 100%;position: absolute;top:0;left: 0;bottom: 0;}
.login_con{width: 78%;min-width:1024px;margin: 0 auto;overflow: hidden;padding-top:80px;}
.login_con1{ position:relative;float:right;z-index: 999;padding:25px 30px;
    /*background: url("../images/login_con2.png") no-repeat;*/
}
.login_con1 .bg{position:absolute;top:0;left:0;z-index:-1;width:99%;height:99%;border:1px solid #fff;border-radius:10px;}
.login_con1 .bg .bg-inner{width:100%;height:100%;background-color: #fff;opacity:.2;filter:alpha(opacity=20);}
/*.login_con1{width: 360px;height: 469px;background: url("../images/login_con2.png") no-repeat;position: absolute;z-index: 999;top: 68px;right: 0;}*/
.login_cen{width:400px;background: #fff;padding-bottom:24px;}
.login_cen h3{width: 100%;height:50px;text-align: center;line-height:50px;color: #0099ff;font-size: 18px;border-bottom:1px dashed #d7d7d7;}
.login_ul{margin-top: 8px;}
.login_ul li{width:300px;margin: 0 auto;background-color: #f7f7f7;height:36px;border-radius:5px;margin-top:16px;}
.login_ul li i{display:inline-block;position: relative;top:6px;left:10px;width:40px;height:26px;background:url("../images/login_icon.png") no-repeat;}
.login_ul li .iconTwo{background-position:0px -52px}
.login_ul li input{background-color: #f7f7f7;height:20px;line-height:20px;top: -4px;position: relative;width: 236px;border-left:1px solid #d7d7d7;padding-left:10px;}
.login_ul li.li_hei{margin-top:0px;background: none;height: 28px;line-height:28px;}
.login_ul li.li_hei .iconMark{position:relative;top:3px;display:inline-block;width:14px;height:15px;background:url("../images/tips.png") no-repeat;}
.login_ul li span.span_col{width: 72%;color: #ff4c15;font-size: 12px;height:28px;line-height:28px;}
.clickLogin{overflow:hidden;width: 300px;margin:0 auto;}
.memoryMe,.memorydui{cursor:pointer;float: left;height: 40px;line-height: 40px;margin-right:20px;}
.boxRight{position:relative;top:4px;display:inline-block;width: 18px;height: 18px;background:url("../images/remember.png") no-repeat 0 0;}
.memorydui .boxRight{background-position:0 -25px;}
.forgetPassword{float: left;cursor:pointer;height:40px;line-height: 40px;font-size: 14px;color: #0b7cc3;margin-right: -5px;}
.login_btn{cursor:pointer;float:right;width:130px;display: block;height:40px;background: #0099ff;border-radius:5px;color: #fff;text-align: center;line-height:40px;font-size: 18px;}
.login_btn:hover,.login_btn:focus{text-decoration: none;color: #fff;}
.copyright{width:34%;height:35px;line-height:35px;background-color:rgba(0,0,0,.3);text-align: center;border-radius:26px;position: fixed;bottom:10px;left: 50%;margin-left:-17%;}
.copyright p{color: #999999;font-size: 12px;}
/*忘记密码*/
.login_contact{width:680px;margin-left:-340px;}
.login_contact .remove_header{background-color:#fff;}
.login_contact .remove_header span{color:#666;}
.login_contact .remove_header i{width:10px;height:10px;background:url("../images/contentClose.png") no-repeat;margin-top:14px;}

.login_contact .pimessage{margin-bottom:0;}
.login_contact .loginBtn button{margin-top:24px;}
/*index*/
.ind_top{width: 100%;height: 84px;border-bottom: 1px solid #c3c3c3;border-top: 1px solid #c3c3c3;}
.ind_top .pageWidth{width:30%;}
.ind_app,.ind_applic,.ind_edo{width: 48%;height: 62px;border: 1px solid #c3c3c3;float: left;margin-left: 1.9%;}
.ind_edo{margin:0 1.9% 0 0;float: right}


/*--------------------------------------20170915  caoruixia 不可删样式---------------------------*/
.contentMargin{overflow:hidden;margin:0 20px 20px;}
/*展业人员管理tab切换*/
.title{width:100%;padding-top:10px;background-color:#fff;border-bottom: 1px solid #00a0d4;padding-bottom: 1px;min-width:1080px;}
.title h2{font-size: 16px;font-weight: bold;border-left: 4px solid #00a0d4;padding-left:10px;margin-left: 1px;margin-bottom: 5px;}
.btntab{display: block;width: 90px;height: 30px;line-height: 28px;text-align: center;border-radius: 2px;cursor: pointer}
.btn-style1{color: #fff;background-color: #00a0d4;}
.btn-style2{color: #00a0d4;background-color: #fff;border: 1px solid #00a0d4}
.title{background: url(../images/nocutstyle.png) no-repeat center bottom;border: none;padding-bottom:32px;background-size: 100% 6px;margin-left:20px;margin-bottom:20px;}
.title .btntab{height: 20px;line-height: 20px;padding-bottom:12px;}
.title .btn-style1{background: url(../images/cutstyle.png) no-repeat center bottom;color: #00a0d4;font-weight: bold;border: none;font-size: 16px;}
.title .btn-style2{background: url(../images/nocutstyle.png) no-repeat center bottom;color: #333;font-weight: bold;border: none;font-size: 16px;}
.top-btn{margin-right: 20px;width:150px;}
/*头部*/
.top{width: 100%;height: 70px;box-shadow: 0 1px 6px #ced0d2;background-color: #fff;min-width: 1000px;position: fixed;z-index: 9;}
.top_l{float: left;}
/*.login{float: left;}*/
.top_l i{float: left;width: 1px;height: 20px;border: 0;background-color: #ccc;margin: 25px 10px 0 10px;}
.top_l span{float: left;font-size: 18px;color: #666;line-height: 100%;margin-top: 26px;}
.top_r{float:left;width: 373px;height: 33px;/*border: 1px solid #e8ecf1;border-radius: 5px;background-color: #e4e4e4;*/margin-right: 20px;margin-top: 17px;line-height: 33px;position: relative;
    background-image: url("../images/icon_bot.png");background-repeat: no-repeat;background-position: 343px 14px;}
.top_rback{background-image: url("../images/icon_top.png");background-repeat: no-repeat;background-position: 343px 14px;}
.top_r img{display: block;float: left;margin: 8px 5px 0 20px;}
.dateCSS{font-weight:normal;}
/*修改密码，注销登录*/
.top_ul{position: fixed;z-index:999;top:50px;right:55px;width: 148px;/*height: 142px;*/background-color: #f3f6fa;box-shadow: 0 1px 5px #dceaf8;border: 1px solid #e8ecf1;margin-top: -1px}
.top_ul li{height: 32px;line-height: 32px;border-top: 1px solid #dde5ef;width: 130px;margin-left: 9px;}
.top_ul li img{margin-left:21px;margin-right: 10px;float: left; }
.top_ul li a{display: block;}
.top_ul li:first-child{border-top: 0;}
.modbg{background-color:#f7f7f7;}
.modLi{overflow: hidden;border: 1px solid #e4e4e4;}
.modLi .describe{width:34%;}
.modLi .tal{width:66%;}
.modLi .tal input{width:62%;}
.Cancellation{display: inline-block;cursor: pointer;}
.Cancellation i{display:inline-block;position:relative;top:26px;right:20px;width:16px;height:16px;background:url("../images/Cancellation.png") no-repeat;}
/*角色管理*/
.comLabel{width: 48.8%;border: 1px solid #cdcdcd;background-color:#fff;}
/*.confr{width: 47%;margin:20px 0 10px 20px;}*/
.comLabel h6,.confr h6{height: 37px;line-height: 37px;padding-left: 20px;background-color: #f5f5f5;font-size:16px;}
.rolelist li{width:38%;}
.rolelist li input{width:100%;}
.rolelist li textarea{width:100%;height:100px;margin-top: 12px;}
.config_button{text-align: center}
.config_button button{width:102px;heihgt:28px;line-height:28px;text-align:center;background:#f27318;color:#fff;font-size:16px;margin:4px 15px 24px;border-radius:5px;padding: 0;border: 0;}
.pageBtn .btnConfirm{background-color:#0b7cc3;}
.pageBtn .btnBack{background-color:#fff;border:1px solid #0b7cc3;color: #0b7cc3;}
.picontent{background: #fff;border: none;}
.picontent .picbj1{width: 52px;height: 50px;overflow: hidden;margin:38px auto 10px;background: url(../images/icon_11.png) no-repeat;}
.pimessage{display: block;text-align: center;margin-top: 10px;font-size: 16px;color: #333;margin-bottom: 20px;}
/*角色指派*/
.new_tab{width:92%;margin:10px;}
.new_tab th{font-size:14px;font-weight:bold;text-align: center;}
.new_tab td{text-align: center;}
input[type="radio"]{display: block;margin:0 auto;}
.config_top{border:1px solid #cdcdcd;background-color:#fff;margin-bottom:42px;}
.index_list{border:1px solid #cdcdcd;}
/*客户管理*/
.Downdrag{cursor:pointer;color:#4395ff;}
.cus{width:848px;margin-left: -424px;}
.tab_width{margin: 20px 16px 20px;}
.tab_width th,.tab_width td{text-align:center;}
/*区域管理*/
.layerList{overflow: hidden;}
.layerList li{float: left;}
.list_ul  .tal{text-align:left;}

/*20170918 add to lichenyi*/
.personnel_table{width:100%;font-size: 0;}
.personnel_table .staff_list,.personnel_table .group_list{display:inline-block;vertical-align: top;max-height:380px;overflow-x: hidden;overflow-y: auto;}
.personnel_table .group_list{width:10%;max-height:380px;overflow-x: hidden;overflow-y: auto;}
.personnel_table .group_list li,.personnel_table .group_list h6{text-align:center;height:24px;line-height:24px;padding: 8px;border-bottom:1px solid #ddd;border-left:1px solid #ddd;border-right:1px solid #ddd}
.group_list ul li{    cursor: pointer}
.personnel_table .staff_list{width:90%;}
.personnel_table .staff_list .table-bordered{width:100%;}
.pending_edit{text-align: center;padding-top: 10px;}
.pending_edit a,.add_phrase{display:inline-block;width: 140px;height: 32px;background: #0b7cc3;text-align: center;line-height: 32px;color: #fff;font-size: 16px;border-radius: 2px;text-decoration:none;}
.pending_edit a:hover,.add_phrase:hover{color:#fff;background-color: #4693c8;}
.add_phrase{margin:15px;}
/*.staff_list tr:hover td,.group_list ul li:hover{background-color:#ccc;}.staff_list tr:hover td,*/
.group_list ul li{color:#0b7cc3;}
/*.index_list tr.hover td a,.index_list tr:hover td a{color:#fd9a9a;}*/

.staff_list .text_area span{font-size:14px;display:block;}
.staff_list .text_area span.text_right{text-align: right;}
.staff_list .text_area p{font-size:16px;text-indent:1.5em;padding:5px 5px 8px;background-color:#f2f2f2;margin:3px 0 5px;}
.text_area{padding: 18px;border:1px solid #ddd;border-radius:2px;margin-left: 35px;border-top-width:0;max-height: 375px;overflow-x: hidden;overflow-y: auto;}
.box_page{text-align: center;margin-top:10px;}
.box_page a{font-size:18px;display:inline-block;padding:3px 5px;margin: 0 5px;}
.box_page span,.box_page div{
    display: inline-block;font-size:18px;color:#666;}
.box_page div input{width:25px;border-bottom:1px solid #999;padding-right:5px;text-align: right}
.box_phrase{width:100%;}
.box_phrase tr td,.box_phrase tr th{height: 28px;padding: 0!important;text-align: center;line-height: 28px;}
.box_phrase tr:hover td{background-color:#f7f7f7;}
/*20170920 caoruixia*/
.bigh6{height:32px;}
.box_phrase tr td,.box_phrase tr th{height: 28px;padding: 0!important;text-align: center;line-height: 28px;}
.box_phrase tr:hover td{background-color:#f7f7f7;}
.thick_service{position: absolute;top: 150px;left: 0;right: 0;width: 700px;margin: auto;background-color: #fff;border: 1px solid #999;border-radius: 3px;overflow: hidden;z-index: 199;box-sizing: border-box;}
.thick_service p{font-size:16px;color:#333;height:22px;}
.thick_service .feedback_message,.thick_service .service_particulars{padding-top:20px;margin:0 20px;}
.thick_service .feedback_message p+p{margin-top:15px;}
.thick_service .service_particulars{border-top:1px solid #999;margin-top:20px;}
.thick_service .service_particulars p+p{text-indent:1.5em;margin-top: 10px;height:auto;line-height:24px;font-size:16px;}
.thick_service .service_particulars .btn_close{width: 140px;display:block;height: 32px;background: #fff;text-align: center;line-height: 32px;color: #0b7cc3;font-size: 16px;border-radius: 2px;border:1px solid #0b7cc3;margin: 0 auto;}
.thick_service .service_particulars.bottom{position: absolute;width: 100%;bottom: 20px;}
.table-center,.table-center tr,.table-center tr th,.table-center tr td{text-align: center}
.table-amar tr td a{margin:0 8px;display: inline-block;}
.btna_blue{display: inline-block; width: 140px;height: 32px;background: #0b7cc3;text-align: center;line-height: 32px;color: #fff;font-size: 16px;border-radius: 2px;text-decoration: none;margin-left:30px;}
.lay_addTemplate{position: absolute;left:0;right:0;top:200px;margin:0 auto;display: block;width:450px;border:1px solid #aaa;border-radius:2px;text-align: center;background-color:#fff;z-index:999}
.lay_addTemplate dl{font-size:0;margin-top: 20px;}
.lay_addTemplate dl dt,.lay_addTemplate dl dd{display:inline-block;font-size: 16px;    vertical-align: top;}
.lay_addTemplate dl dt{width:35%;text-align:right;}
.lay_addTemplate dl dd{width:65%;text-align: left;}
.lay_addTemplate dl dd input{border:1px solid #ddd;width:200px;height:16px;border-radius:2px;line-height:16px;padding:4px 8px;}
.lay_addTemplate .v_input{width:100%;height:37px;line-height:37px;text-align: center;background-color:transparent;font-size:16px;}
.lay_addTemplate .box_text{margin-top:20px;}
.lay_addTemplate dl dd textarea,.lay_addTemplate .box_text textarea{border:1px solid #ddd;width:200px;height:64px;border-radius:2px;line-height:24px;padding:0 8px;resize: none;}
.lay_addTemplate a{display: inline-block; text-align: center;text-decoration: none;width: 102px;heihgt: 28px;line-height: 28px;text-align: center;background: #0b7cc3;color: #fff;font-size: 16px;margin: 10px 15px 15px;border-radius: 5px;}
.ready-click tr:hover td{background-color: #0b7cc3;color:#fff;}
.m20{padding:10px 0;}
.mt5{margin-top: 5px;}
.img_box{max-height:200px;max-width:450px;padding-top: 20px;}
.file_box{background-color: #fff;width: 115px;height: 23px;border-radius: 5px;border: 1px solid #ccc;position: relative;text-align: center;font-size: 16px;line-height: 23px;}
.file_box input{position: absolute;top:0;left:0;opacity: 0;width:100%;height:100%;}
.file_box span{display:block;height:100%;width:100%;    line-height: 23px;}

    /*20170920 caoruixia 消息管理*/
.tal{text-align: left;}
.bigh6{height:32px;}
.list_ul .mesContent{width:65%;height:86px;margin-top:10px;}
.mesContentHeight{width:100%;height:72px;resize: none;border: 1px solid #cdcdcd;}
.resizeNo{resize: none;}
/*20170926 caoruixia  人员配置-增加人员配置*/
.addstafcss .zl{width:30%;}
.addstafcss .rl{width:46%;}
/*20171010  框架样式修改*/
.maintopHeight{height:68px;}
/*.smallArrow{display:block;width:8px;height:8px;background:url("../images/smallArrow.png") no-repeat 0px 0px;}*/
