<div class="index_local index_local1">
    <i></i><a href="#">首页</a><span>></span><a href="#">焦点图</a>
</div>
<div class="bg  index_con index_list">
    <div class="index_tit"><h6>焦点图管理</h6></div>
    <table class="table table-striped table-bordered table-hover table-center table-amar">
        <tr>
            <th width="10%">显示顺序</th>
            <th>图片描述</th>
            <th width="20%">最后操作时间</th>

            <th width="15%">操作</th>
        </tr>
        <tr>
            <td>1</td>
            <td>活动</td>
            <td>2017-09-21 16:18</td>

            <td><a href="javascript:(0)" ng-click="open_alterimg()">修改</a><a href="javascript:(0)" ng-click="open_viewimg()">查看图片</a></td>
        </tr>
        <tr>
            <td>2</td>
            <td>活动宣传</td>
            <td>2017-09-21 16:18</td>

            <td><a href="javascript:(0)" ng-click="open_alterimg()">修改</a><a href="javascript:(0)" ng-click="open_viewimg()">查看图片</a></td>
        </tr>
        <tr>
            <td>3</td>
            <td>-</td>
            <td>-</td>

            <td><a href="javascript:(0)" ng-click="open_alterimg()">增加图片</a></td>
        </tr>
        <tr>
            <td>4</td>
            <td>-</td>
            <td>-</td>

            <td><a href="javascript:(0)" ng-click="open_alterimg()">增加图片</a></td>
        </tr>
    </table>
</div>
<div ng-if="layer_viewimg">
    <div class="mask"></div>
    <div class="lay_addTemplate">
        <ul>
            <li class="remove_header">
                <span>查看图片</span>
                <em ng-click="close_viewimg()"><i></i></em>
            </li>
        </ul>
        <div class="img_box">
            <img src="images/banner1.png" alt="">
        </div>
        <div>
            <a href="javascript:(0)" ng-click="close_viewimg()">关闭</a>
        </div>
    </div>
</div>
<div ng-if="layer_alterimg">
    <div class="mask"></div>
    <div class="lay_addTemplate">
        <ul>
            <li class="remove_header">
                <span>添加、修改图片</span>
                <em ng-click="close_alterimg()"><i></i></em>
            </li>
        </ul>
        <div>
            <dl>
                <dt>选择图片：</dt>
                <dd><div class="file_box"><input type="file"><span>选择上传图片</span></div></dd>
            </dl>
            <dl>
                <dt>图片描述：</dt>
                <dd>
                    <textarea></textarea>
                </dd>
            </dl>
        </div>
        <div>
            <a href="javascript:(0)" ng-click="close_alterimg()">关闭</a>
        </div>
    </div>
</div>