<div class="index_local index_local1">
    <i></i><a href="#">首页</a><span>></span><a href="#">权限管理</a><span>></span>
    <a href="#">人员配置</a><span>></span><a href="#" class="Downdrag">增加人员配置</a>
</div>

<div style="overflow: hidden">
    <div class="contentMargin">
        <div class="fr comLabel bgcolor border">
            <h6>功能机构列表</h6>
            <div>树插件</div>
        </div>
        <div class="fl comLabel">
        <div class="config_top">
            <h6>人员信息</h6>
            <ul class="list_ul addstafcss">
                <li class="zl">
                    <span>员工账号：</span>
                </li>
                <li  class="rl">
                    <input type="text" class="fl"  ng-model="xxxx">
                </li>
                <li  class="zl">
                    <span>员工姓名：</span>
                </li>
                <li  class="rl">
                    <input type="text" class="fl"  ng-model="xxxx">
                </li><li  class="zl">
                    <span>员工性别：</span>
                </li>
                <li  class="rl">
                    <select style="float: left;">
                        <option>--请选择--</option>
                        <option>男</option>
                        <option>女</option>
                    </select>
                </li>
                <li  class="zl">
                    <span>员工昵称：</span>
                </li>
                <li  class="rl">
                    <input type="text" class="fl"  ng-model="xxxx">
                </li><li  class="zl">
                    <span>出生日期：</span>
                </li>
                <li  class="rl">
                    <input type="text"  id="flightData4" jedate="" placeholder="" class="fl date" format="YYYY-MM-DD" ng-model="xxx"/>
                </li>
                <li  class="zl">
                    <span>员工地址：</span>
                </li>
                <li  class="rl">
                    <input type="text" class="fl"  ng-model="xxxx">
                </li><li  class="zl">
                    <span>员工电话：</span>
                </li>
                <li  class="rl">
                    <input type="text" class="fl"  ng-model="xxxx">
                </li>
                <li  class="zl">
                    <span>员工手机：</span>
                </li>
                <li  class="rl">
                    <input type="text" class="fl"  ng-model="xxxx">
                </li><li  class="zl">
                    <span>员工邮箱：</span>
                </li>
                <li  class="rl">
                    <input type="text" class="fl"  ng-model="xxxx">
                </li>
                <li  class="zl">
                    <span>员工备注：</span>
                </li>
                <li  class="rl">
                    <input type="text" class="fl"  ng-model="xxxx">
                </li>
            </ul>
        </div>
        <!--角色列表-->
        <div class="index_list">
            <div class="index_tit">
                <h6 class="fl">角色列表</h6>
            </div>
            <div>
                选择角色
            </div>
        </div>
    </div>
    </div>
</div>
<div class="config_button pageBtn">
    <button class="btnConfirm" ng-click="save()">保 存</button>
</div>