<div class="index_local index_local1">
    <i></i><a href="#">首页</a><span>></span><a href="#">权限管理</a><span>></span>
    <a href="#" class="Downdrag">功能授权</a>
</div>
<div style="overflow: hidden">
    <div class="contentMargin">
        <div class="fl comLabel">
            <h6>机构列表</h6>
            <!--机构树插件-->
            <div class="tree_list tree_funmenu aptitTree">
                <div class="tree_all aptitTreeAll fl">
                    <div ui-tree data-drag-enabled="tree.enabled" id="tree-roo">
                        <ol ui-tree-nodes ng-model="copyData" style="padding-left:22px;">
                            <li ng-repeat="node in copyData" ui-tree-node ng-include="'templates/FunctionsTree.html'"></li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
        <div class="fr comLabel">
            <h6>功能列表</h6>
            <div>功能树插件</div>
        </div>
    </div>
</div>
<div class="config_button pageBtn">
    <button class="btnConfirm" ng-click="save()">保 存</button>
</div>