<div class="index_local index_local1">
    <i></i><a href="#">首页</a><span>></span><a href="#">权限管理</a><span>></span>
    <a href="#" class="Downdrag">人员配置</a>
</div>
<div style="overflow: hidden">
    <div class="contentMargin">
        <div class="fl comLabel confr bgcolor border">
            <h6>机构列表</h6>
            <div>机构树插件</div>
        </div>
        <div class="fr comLabel"  style="border:none;background:none;">
            <div class="config_top">
                <h6>查询条件</h6>
                <ul class="list_ul">
                    <li>
                        <span>员工代码：</span>
                    </li>
                    <li>
                        <input type="text" class="fl"  ng-model="ygCode">
                    </li>
                    <li>
                        <span>员工姓名：</span>
                    </li>
                    <li>
                        <input type="text" class="fl"  ng-model="ygName">
                    </li>
                </ul>
                <div class="pending_btn">
                    <div class="pending_btn1">
                        <a href="#" class="a_search" ng-click="rySearch()">查询</a>
                        <a href="#" class="a_reset" ng-click="ryReset()">重置</a>
                    </div>
                </div>
            </div>
            <!--查询结果-->
            <div class="index_list" style="background-color: #fff;">
                <div class="index_tit">
                    <h6 class="fl">查询列表</h6>
                    <div class="fr">
                        <div class="div_a" ng-click="addRoleConfig()">
                            <i></i><span><a href="#">添加</a></span>
                        </div>
                    </div>
                </div>
                <table class="table table-striped table-bordered table-hover">
                    <tr>
                        <th width="58px">序号</th>
                        <th width="20%">员工代码</th>
                        <th width="20%">员工姓名</th>
                        <th width="25%">所属机构</th>
                        <th width="26%">操作</th>
                    </tr>
                    <tr ng-repeat="d in peopleDatalist|orderBy:col:desc">
                    <td ng-bind="$index+1"></td>
                    <td ng-bind="d.ygCode"></td>
                    <td ng-bind="d.ygName"></td>
                    <td ng-bind="d.organ"></td>
                    <td class="t_last">
                        <div class="div_pad">
                            <a href="#" class="a_col" ng-click="modify()">修改</a><span>|</span><a href="#" class="a_col" ng-click="canale()">删除</a>
                        </div>
                    </td>
                    </tr>
                </table>
                <tm-pagination conf="paginationConf"></tm-pagination>
            </div>
        </div>
    </div>
</div>
<div class="config_button pageBtn">
    <button class="btnConfirm" ng-click="save()">保 存</button>
</div>

<!--删除-->
<div ng-if="layer_cancle" data-ng-include="'components/index/tpl/layer/layer_tipMessage.html'"></div>