<div class="main login_main" ng-controller="LoginCtrl" style="height:100%">
    <!--<div class="container-fluid index_top login_top">-->
        <!--<div class="row">-->
            <!--<div class="logo fl"><img src="images/logo.png" alt=""/></div>-->
        <!--</div>-->
    <!--</div>-->
    <div class="login login_img">
        <div class="login_logo">
            <img src="images/login_logo.png" alt="">
        </div>
        <div class="login_con">
            <div class="login_title">
                <h2>中原农险</h2>
                <p>微信营销后台管理系统</p>
            </div>
            <div class="login_con1">
                <div class="login_cen">
                    <h3>欢迎登录</h3>
                    <ul class="login_ul">
                        <li>
                            <i></i>
                            <input type="text" placeholder="请输入您的用户名" ng-model="usercode" required/>
                        </li>
                        <li>
                            <i class="iconTwo"></i>
                            <input type="password" placeholder="请输入您的密码" ng-model="password" required/>
                        </li>
                        <!--<li ng-if="testCodeCheck">-->
                            <!--<span>验证码</span>-->
                            <!--<input type="text" placeholder="请输入您的验证码" ng-model="user.testcode" required/>-->
                        <!--</li>-->
                        <li class="li_hei" >
                            <b class="iconMark" ng-if="tips"></b>
                            <span class="span_col">{{loginmessage}}</span>
                        </li>
                    </ul>
                    <div class="clickLogin">
                        <div class="memoryMe" ng-click="memoryMes()">
                            <i class="boxRight"></i>
                            <span>记住我</span>
                        </div>
                        <span class="forgetPassword" ng-click="forgetPassword()">忘记密码？</span>
                        <div class="login_btn" ng-click="login()">登 录</div>
                    </div>
                </div>
                <div class="bg"><div class="bg-inner"></div></div>
            </div>
        </div>
    </div>
</div>
<style>

</style>