<div class="main login_main" ng-controller="LoginCtrl" style="height:100%">
    <!--<div class="container-fluid index_top login_top">-->
        <!--<div class="row">-->
            <!--<div class="logo fl"><img src="images/logo.png" alt=""/></div>-->
        <!--</div>-->
    <!--</div>-->
    <div class="login login_img">
        <div class="login_logo">
            <img src="images/login_logo.png" alt="">
        </div>
        <div class="login_con">
            <div class="login_title">
                <h2>中原农险</h2>
                <p>微信营销后台管理系统</p>
            </div>
            <div class="login_con1">
                <div class="login_cen">
                    <h3>欢迎登录</h3>
                    <ul class="login_ul">
                        <li  ng-class="{true:'',false:'typingLi'}[tabLi]">
                            <i></i>
                            <input type="text" placeholder="请输入您的用户名" ng-model="usercode"
                                   ng-focus="obtainFocus()" ng-blur="loseFocus()" required/>
                        </li>
                        <li ng-class="{true:'',false:'typingLi'}[tabLi2]">
                            <i class="iconTwo"></i>
                            <input type="password" placeholder="请输入您的密码" ng-model="password"
                                   ng-focus="obtainFocus2()"  ng-blur="loseFocus2()" required/>
                        </li>
                        <!--<li ng-if="testCodeCheck">-->
                            <!--<span>验证码</span>-->
                            <!--<input type="text" placeholder="请输入您的验证码" ng-model="user.testcode" required/>-->
                        <!--</li>-->
                        <li class="li_hei" >
                            <b class="iconMark" ng-if="tips"></b>
                            <span class="span_col">{{loginmessage}}</span>
                        </li>
                    </ul>
                    <div class="clickLogin">
                        <div class="memoryMe"  ng-class="{true:'memoryMe',false:'memorydui'}[tabDui]" ng-click="memoryMes()">
                            <i class="boxRight"></i>
                            <span>记住我</span>
                        </div>
                        <span class="forgetPassword" ng-click="forgetPassword()">忘记密码？</span>
                        <div class="login_btn" ng-click="login()">登 录</div>
                    </div>
                </div>
                <div class="bg"><div class="bg-inner"></div></div>
            </div>
        </div>
        <div class="copyright">
            <p>中原农业保险股份有限公司&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;版权所有&nbsp;&nbsp;&nbsp;&nbsp;京ICP备07013339号</p>
        </div>
    </div>
    <!--忘记密码弹层-->
    <div class="mask" style="z-index: 999;" ng-if="conLayer"></div>
    <div class="mask_remove picontent login_contact" ng-if="conLayer">
        <ul>
            <li class="remove_header">
                <span>提示信息</span>
                <em ng-click="rescind()"><i></i></em>
            </li>
        </ul>
        <div class="picbj1"></div>
        <span class="pimessage">如您忘记密码，请联系管理员！</span>
        <span class="pimessage">管理人员：张三 联系电话：010-12345678</span>
        <div class="config_button pageBtn loginBtn">
            <button class="btnConfirm" ng-click="reSure()">确 定</button>
        </div>
    </div>
</div>


