<link rel="stylesheet" href="../../../css/index.css">
<div class="index_local index_local1">
    <i></i><a href="#">首页</a><span>></span><a href="#">微信客服管理</a>
</div>
<div class="bg index_con">
    <div class="index_list">
        <div class="index_tit"><h6>客服管理</h6></div>
        <div class="personnel_table">
            <div class="group_list">
                <h6>分组列表</h6>
                <ul>
                    <li class="hover">第一组</li>
                    <li>第二组</li>
                    <li>新增分组</li>
                </ul>
            </div>
            <div class="staff_list">
                <table class="table-bordered" cellpadding="0" cellspacing="0">
                    <tr>
                        <th>序号</th>
                        <th>账号</th>
                        <th>姓名</th>
                        <th>昵称</th>
                        <th>性别</th>
                        <th>状态</th>
                        <th>操作</th>
                    </tr>
                    <tr class="hover">
                        <td>1</td>
                        <td>105269</td>
                        <td>张四</td>
                        <td>小四</td>
                        <td>男</td>
                        <td>就绪</td>
                        <td><a href="javescript:(0)">禁用</a></td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td>105268</td>
                        <td>王六</td>
                        <td>小五</td>
                        <td>男</td>
                        <td>禁用中</td>
                        <td><a href="javescript:(0)">启用</a></td>
                    </tr>
                    <tr>
                        <td>3</td>
                        <td>105267</td>
                        <td>李三</td>
                        <td>小六</td>
                        <td>女</td>
                        <td>接待中</td>
                        <td><a href="javescript:(0)">禁用</a></td>
                    </tr>
                </table>
                <div class="box_page"><a href="javascript:(0)">首页</a><a href="javascript:(0)">上一页</a><a href="javascript:(0)">下一页</a><a href="javascript:(0)">尾页</a><div><a href="javascript:(0)">跳转</a><span>第 <input
                        type="text">页</span></div></div>
            </div>
        </div>
        <div class="pending_btn">
            <div class="pending_edit">
                <a href="#" class="a_del">移除</a>
                <a class="a_view" ng-click="openClick()">查看记录</a>
                <a href="#" class="a_move">移动</a>

            </div>
        </div>
    </div>
    <div class="personnel_table" ng-if="list_date">
        <div class="index_tit"><h6>聊天详情</h6></div>
        <div class="group_list">
            <h6>接待列表</h6>
            <ul>
                <li class="hover">六毛</li>
                <li>大王</li>
                <li>小王</li>
            </ul>
        </div>
        <div class="staff_list">
            <div class="text_area">
                <span>小四</span>
                <p>与本问题《在建筑师的眼中，什么是好的医院建筑？》话题的</p>
                <span>六毛</span>
                <p>与本问题《在建筑师的眼中，什么是好的医院建筑？》话题的众多建筑师围绕实际案例展开叙述的方式不同，本文拟围绕评论医院建筑的方式、经典案例和设计加分项三方面略表拙见。</p>
            </div>
        </div>
    </div>
    <div class="personnel_table ">
        <div>
            <a href="javascript:(0)" class="add_phrase">新增常用语</a>

        </div>
        <table class="table-bordered box_phrase" cellpadding="0" cellspacing="0">
            <tr>
                <th width="75px">序号</th>
                <th>常用语</th>
                <th width="75px">操作</th>
            </tr>
            <tr>
                <td>1</td>
                <td>亲，您好，请问需要什么帮助？</td>
                <td><a href="javescript:(0)">删除</a></td>
            </tr>
            <tr>
                <td>2</td>
                <td>感谢您对我们工作的大力支持！</td>
                <td><a href="javescript:(0)">删除</a></td>
            </tr>
            <tr>
                <td>3</td>
                <td>亲！给好评哦！</td>
                <td><a href="javescript:(0)">删除</a></td>
            </tr>
        </table>
    </div>
</div>