<!--线下收费待确认-->
<div ng-controller="applicationCtrl">
    <div class="index_con">
        <!--搜索条件-->
        <div class="index_list">
            <div class="index_tit"><h6>搜索条件</h6></div>
            <ul class="list_ul">
                <li><span>投保单号：</span></li>
                <li><input type="text" placeholder="" class="fl"></li>
                <li><span>投保人名称：</span></li>
                <li>
                    <input type="text" placeholder="" class="fl">
                </li>
                <li><span>保单生效日（开始）：</span></li>
                <li><input type="text" placeholder="" class="date-input fl date" value="2016/01/21"  data-beatpicker="true"></li>
                <li><span>保单生效日（结束）：</span></li>
                <li><input type="text" placeholder="" class="date-input fl date" value="2016/01/21"  data-beatpicker="true"></li>
            </ul>
            <div class="pending_btn">
                <div class="pending_btn1">
                    <a href="#" class="a_search">查询</a>
                    <a href="#" class="a_reset">重置</a>
                </div>
            </div>
        </div>
        <!--搜索结果-->
        <div class="index_list">
            <div class="index_tit">
                <h6 class="fl">搜索结果</h6>
            </div>
            <table class="table table-striped table-bordered table-hover">
                <tr>
                    <th ng-click="col='idente';desc=!desc">投保单号码</th>
                    <th ng-click="col='name';desc=!desc">投保人姓名</th>
                    <th ng-click="col='startDate';desc=!desc">保单生效日</th>
                    <th ng-click="col='insurDate';desc=!desc">投保日期</th>
                    <th ng-click="col='premium';desc=!desc">保费</th>
                    <th class="t_last">操作</th>
                </tr>
                <tr ng-repeat="d in pendingdata|orderBy:col:desc">
                    <td ng-bind="d.idente"></td>
                    <td ng-bind="d.name"></td>
                    <td ng-bind="d.startDate"></td>
                    <td ng-bind="d.insurDate"></td>
                    <td ng-bind="d.premium"></td>
                    <td class="t_last">
                        <span class="a_col" ng-click="comfirmCharge()">确认收费</span>
                    </td>
                </tr>
            </table>
            <!--<div class="index_page">
                <div class="fr">
                    <span>（1/20）</span>
                    <span>每页显示</span>
                    <select name="" id="">
                        <option ng-repeat="x in numbers" ng-bind="x"></option>
                    </select>
                    <span>条记录</span>
                    <ul class="page">
                        <li class="li_first"><i></i></li>
                        <li class="li_active">1</li>
                        <li>2</li>
                        <li>3</li>
                        <li>4</li>
                        <li>5</li>
                        <li class="li_dian">...</li>
                        <li>20</li>
                        <li class="li_last"><i></i></li>
                    </ul>
                </div>
            </div>-->
            <tm-pagination conf="paginationConf"></tm-pagination>
        </div>
        <!--btn-->
        <div class="index_btn1 index_btn2">
            <a href="#" class="submit">退出</a>
        </div>
        <!---->
    </div>
</div>