<!--线上支付-->
<ul class="index_process ng-scope">
    <li class="li_finish"><i></i><span>1.填写投保信息</span></li>
    <li class="li_active"><i class="i_1"></i><span>2.收费</span></li>
    <li><i class="i_2"></i><span>3.完成</span></li>
</ul>
<div class="index_con">
    <div class="index_list">
        <div class="index_tit"><h6>支付信息</h6></div>
        <ul class="list_ul list_ul1">
            <li><span>投保单号：</span></li>
            <li><span class="fl"><a href="javascript:void(0)" class="order_num">TE2016001000000001</a></span></li>
            <li><span></span></li>
            <li><span></span></li>
            <li><span>产品：</span></li>
            <li><span class="fl">城乡居民住宅地震巨灾保险</span></li>
            <li><span>应收金额：</span></li>
            <li><span class="fl order_money"><b>10.00</b>元</span></li>
            <li><span>投保人：</span></li>
            <li><span class="fl">张三</span></li>
        </ul>
    </div>
    <div>
        <div class="ul_header">
            <a href="javascript:void(0)" class="fl weichat pay_border">微信支付</a>
            <a href="javascript:void(0)" class="fl zhifubao">支付宝支付</a>
            <a href="javascript:void(0)" class="fl bank_card    ">银行卡支付</a>
        </div>
        <div class="pay_weichat" ng-hide="true">
            <div class="fl">
                <div class="pay_box">
                    <img src="../../../shie/images/weichat.png" />
                    <span><i></i> 请使用微信扫一扫进行支付</span>
                </div>
            </div>
            <div class="fl">
                <img src="../../../shie/images/weichat_phone.png" class="fl"/>
            </div>
        </div>
        <div class="pay_zhifubao" ng-hide="true">
            <div class="fl">
                <div class="pay_box">
                    <img src="../../../shie/images/weichat.png" />
                    <span><i></i> 请使用支付宝扫一扫进行支付</span>
                </div>
            </div>
            <div class="fl">
                <img src="../../../shie/images/zhifubao_phone.png" />
            </div>
        </div>
        <div class="pay_bank">
            <ul>
                <li class="li_active">
                    <a href="javascript:void(0)">
                        <img src="../../../shie/images/bank_01.png" />
                        <i class="bg_img"></i>
                    </a>
                </li>
                <li>
                    <a href="javascript:void(0)">
                        <img src="../../../shie/images/bank_02.png" />
                        <div class="bg_img"></div>
                    </a>
                </li>
                <li>
                    <a href="javascript:void(0)">
                        <img src="../../../shie/images/bank_03.png"/>
                        <div class="bg_img"></div>
                    </a>
                </li>
                <li>
                    <a href="javascript:void(0)">
                        <img src="../../../shie/images/bank_04.png" />
                        <div class="bg_img"></div>
                    </a>
                </li>
                <li>
                    <a href="javascript:void(0)">
                        <img src="../../../shie/images/bank_05.png" />
                        <div class="bg_img"></div>
                    </a>
                </li>
                <li>
                    <a href="javascript:void(0)">
                        <img src="../../../shie/images/bank_06.png" />
                        <div class="bg_img"></div>
                    </a>
                </li>
                <li>
                    <a href="javascript:void(0)">
                        <img src="../../../shie/images/bank_07.png" />
                        <div class="bg_img"></div>
                    </a>
                </li>
                <li>
                    <a href="javascript:void(0)">
                        <img src="../../../shie/images/bank_08.png" />
                        <div class="bg_img"></div>
                    </a>
                </li>
                <li>
                    <a href="javascript:void(0)">
                        <img src="../../../shie/images/bank_09.png" />
                        <div class="bg_img"></div>
                    </a>
                </li>
                <li>
                    <a href="javascript:void(0)">
                        <img src="../../../shie/images/bank_10.png" />
                        <div class="bg_img"></div>
                    </a>
                </li>
                <li>
                    <a href="javascript:void(0)">
                        <img src="../../../shie/images/bank_11.png" />
                        <div class="bg_img"></div>
                    </a>
                </li>
                <li>
                    <a href="javascript:void(0)">
                        <img src="../../../shie/images/bank_12.png" />
                        <div class="bg_img"></div>
                    </a>
                </li>
            </ul>
            <div class="clear_both"></div>
            <div>
                <a href="javascript:void(0)">立即支付</a>
            </div>
        </div>
    </div>
</div>