<div class="mask"></div>
<div class="picontent cus newMask" style="top:10%">
    <ul>
        <li class="remove_header">
            <span>创建消息</span>
            <em ng-click="addRole_back()"><i></i></em>
        </li>
    </ul>
    <div class="tab_width table-bordered">
        <ul class=" list_ul layerList">
            <li>
                <span>消息标题：</span>
            </li>
            <li class="tal">
                <input type="text" class="fl" ng-model="xxxx" >
            </li>
            <li>
                <span>消息类型：</span>
            </li>
            <li class="tal">
                <select>
                    <option>--请选择--</option>
                    <option>1</option>
                    <option>2</option>
                </select>
            </li>
            <li>
                <span>推送聚到：</span>
            </li>
            <li class="tal">
                <input type="text" class="fl" ng-model="xxxx">
            </li>
            <li>
                <span>是否立即发送：</span>
            </li>
            <li class="tal">
                <span class="radio1 on" ng-class="{true:'on',false:'radio'}[yesflag]" ng-click="yesClick1()" >
                            <input type="radio" class="hide" value="0" name="trafficIns" /><em>是</em>
                        </span>
                <span class="radio radio1  marr43" ng-class="{true:'radio',false:'on'}[noflag]" ng-click="noClick1()" >
                            <input type="radio" class="hide" value="1" name="trafficIns" checked="checked" /><em>否</em>
                        </span>
            </li>
            <li>
                <span>发送时间：</span>
            </li>
            <li class="tal">
                <input type="text"  id="flightData55" jedate="" placeholder="" class="fl date" format="YYYY-MM-DD" ng-model="x"/>
            </li>
            <li><span></span></li>
            <li class="tal"></li>
            <li>
                <span>消息内容：</span>
            </li>
            <li class="tal mesContent">
                <textarea name="" id="" cols="30" rows="10" class="mesContentHeight"></textarea>
            </li>
        </ul>
    </div>
    <div class="config_button pageBtn">
        <button class="btnConfirm"  ng-click="addRole_back()">发 布</button><button class="btnConfirm"  ng-click="addRole_back()">保 存</button><button class="btnBack" ng-click="addRole_back()">取 消</button>
    </div>
</div>

