<div class="bg">
    <div class="index_list">
        <div class="index_tit"><h6>反馈管理</h6></div>
        <ul class="list_ul">

            <li>
                <span>查询时间范围：</span>
            </li>
            <li>
                <input type="text"  id="flightData4" jedate="" placeholder="" class="fl date" format="YYYY-MM-DD" ng-model="xxx"/>
            </li>
            <br>
            <li>
                <span>反馈状态：</span>
            </li>
            <li>
                <input type="text" class="fl"  ng-model="xxxx">
            </li>
            <li>
                <span>反馈类型：</span>
            </li>
            <li>
                <input type="text" class="fl"  ng-model="xxxx">
            </li>

        </ul>
        <div class="pending_btn">
            <div class="pending_btn1">
                <a href="#" class="a_search">查询</a>
                <a href="#" class="a_reset">重置</a>
            </div>
        </div>
    </div>
    <div class="banner-body">
        <div class="index_tit"><h6>查询列表</h6></div>
        <div class="banner-body-list clearfix">
            <table class="table table-striped table-bordered table-hover">
                <tr>
                    <th ng-click="col='state';desc=!desc">序号</th>
                    <th ng-click="col='idente';desc=!desc">反馈类型</th>
                    <th ng-click="col='checkNum';desc=!desc">反馈状态</th>
                    <th ng-click="col='name';desc=!desc">提交时间</th>
                    <th class="t_last">描述</th>
                </tr>
                <tr>
                    <td>1</td>
                    <td>评价</td>
                    <td>待处理</td>
                    <td>2017-09-21</td>
                    <td class="t_last">XXXX</td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>评价</td>
                    <td>处理中</td>
                    <td>2017-09-21</td>
                    <td class="t_last">修改机构，机构代码1039274，机构名称：XXXX</td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>评价</td>
                    <td>已完成</td>
                    <td>2017-09-21</td>
                    <td class="t_last">修改机构，机构代码1039274，机构名称：XXXX</td>
                </tr>
                <tr>
                    <td>4</td>
                    <td>评价</td>
                    <td>已完成</td>
                    <td>2017-09-21</td>
                    <td class="t_last">修改机构，机构代码1039274，机构名称：XXXX</td>
                </tr>


            </table>
            <div class="page clearfix fr">
                <a class="first" href="javascript:;"></a>
                <a class="prev" href="javascript:;"></a>
                <a href="javascript:;">1</a>
                <a class="current" href="javascript:;">2</a>
                <a href="javascript:;">3</a>
                <a href="javascript:;">4</a>
                <a href="javascript:;">5</a>
                <a href="javascript:;">6</a>
                <a href="javascript:;">7</a>
                <a href="javascript:;">8</a>
                <a href="javascript:;">9</a>
                <a href="javascript:;">10</a>
                <a class="next" href="javascript:;"></a>
                <a class="end" href="javascript:;"></a>
                <span style="margin-left: 21px">跳至第</span>
                <select class="jump">
                    <option value=""></option>
                    <option value="">1</option>
                    <option value="">2</option>
                    <option value="">3</option>
                </select>
                <span>页（共365个）</span>
            </div>
        </div>
    </div>
    <div class="lay"></div>
    <div class="thick_service">
        <div class="index_tit"><h6>查询列表</h6></div>
        <div class="feedback_message">
            <p>反馈类型：咨询</p>
            <p>联系方式：13131313131</p>
            <p>提交时间：2017-09-01 12:12:12</p>
        </div>
        <div class="service_particulars">
            <p>反馈内容：</p><p>This is your contribution graph. Your first s for joining GitHub and you'll earn more as you make additional contributions. More contributions means a darker green square for that day. Over time, your chart might start looking something like this.
            We have a quick guide that will show you how to create your first repository and earn more green squares!</p>
        </div>
        <div class="service_particulars bottom">
            <a href="javascript:(0)" class="btn_close">确定</a>
        </div>
    </div>
</div>