<!--&lt;!&ndash;投保成功&ndash;&gt;-->
<!--<ul class="index_process ng-scope" ng-controller="applicationSuccCtrl">-->
    <!--<li class="li_finish"><i></i><span>1.填写投保信息</span></li>-->
    <!--<li class="li_finish"><i class="i_1"></i><span>2.收费</span></li>-->
    <!--<li class="li_finish"><i class="i_2"></i><span>3.完成</span></li>-->
<!--</ul>-->
<!--<div class="index_con">-->
    <!--<div class="index_list">-->
        <!--<div class="index_tit"><h6>{{riskName}}</h6></div>-->
        <!--<div class="order_success">-->
            <!--<i></i>-->
                <!--<span>该投保已成功出单！保单号码为{{policyNo}}-->
                    <!--<br/>-->
                    <!--系统已自动发送电子保单给投保人。如需重新发送，请进入“单证下载/发送”进行重发。-->
                    <!--<br/>-->
                    <!--若需要增值税发票,请提供开票信息给出单机构索取发票-->
                <!--</span>-->
        <!--</div>-->
        <!--<div class="div_back">-->
            <!--<a href="javascript:void(0)" class="a_back">返回</a>-->
            <!--<a href="javascript:void(0)" class="a_order">下载电子保单</a>-->
        <!--</div>-->

    <!--</div>-->
<!--</div>-->