<div class="bg">
<div class="title"><h2>装修模板管理</h2></div>
<div class="banner-body" style="margin-top:40px;">
    <div class="banner-body-head clearfix">
        <span class="fl">微店模板列表</span>
    </div>
    <div class="banner-body-list clearfix">
        <table class="region" width="100%" cellpadding="0" cellspacing="0">
            <thead>
            <tr>
                <th width="10%"><p>序号</p></th>
                <th width="20%"><p>模板名称</p></th>
                <th width="20%"><p>上传时间</p></th>
                <th width="10%"><p>默认</p></th>
                <th width="10%"><p>状态</p></th>
                <th width="30%">操作</th>
            </tr>
            </thead>
            <tr>
                <td>1</td>
                <td>样式1 </td>
                <td>2016-09-20  11:11</td>
                <td>是</td>
                <td>已发布</td>
                <td><a class="view" href="javascript:;">预览</a><a class="release" href="javascript:;">发布</a><a class="modify" href="修改微店模板.html">修改</a><a class="delete" href="javascript:;">删除</a></td>
            </tr>
            <tr>
                <td>2</td>
                <td>样式1 </td>
                <td>2016-09-20  11:11</td>
                <td>是</td>
                <td>已发布</td>
                <td><a class="view" href="javascript:;">预览</a><a class="release" href="javascript:;">发布</a><a class="modify" href="修改微店模板.html">修改</a><a class="delete" href="javascript:;">删除</a></td>
            </tr>
            <tr>
                <td>3</td>
                <td>样式1 </td>
                <td>2016-09-20  11:11</td>
                <td>是</td>
                <td>已发布</td>
                <td><a class="view" href="javascript:;">预览</a><a class="release" href="javascript:;">发布</a><a class="modify" href="修改微店模板.html">修改</a><a class="delete" href="javascript:;">删除</a></td>
            </tr>
        </table>
    </div>
    <div class="administration-foot">
        <a href="我也要开店按钮配置.html">我也要开店按钮配置</a>
        <span>状态：开启</span>
        <span>开启时间：2016-10-10  12:10<span>-</span>2016-10-10  12:10</span>
    </div>
</div>
</div>