<div class="mask"></div>
<div class="picontent cus newMask">
    <ul>
        <li class="remove_header">
            <span>添加关联机构</span>
            <em ng-click="addralation_sure()"><i></i></em>
        </li>
    </ul>
    <div class="tab_width table-bordered">
        <ul class=" list_ul layerList">
            <li>
                <span>省级地区：</span>
            </li>
            <li class="tal">
                <select>
                    <option value ="volvo">--请选择--</option>
                    <option value ="volvo">河北省</option>
                    <option value ="saab">河南省</option>
                </select>
            </li>
            <li>
                <span>地市级地区：</span>
            </li>
            <li class="tal">
                <select>
                    <option value ="volvo">--请选择--</option>
                    <option value ="volvo">濮阳市</option>
                    <option value ="saab">安阳市</option>
                </select>
            </li>
            <li>
                <span>区县地区：</span>
            </li>
            <li class="tal">
                <select>
                    <option value ="volvo">--请选择--</option>
                    <option value ="volvo">南乐县</option>
                    <option value ="saab">清丰县</option>
                </select>
            </li>
            <li>
                <span>业务机构代码：</span>
            </li>
            <li class="tal">
                <select>
                    <option value ="volvo">--请选择--</option>
                    <option value ="volvo">001</option>
                    <option value ="saab">002</option>
                </select>
            </li>
            <li>
                <span>经办人代码：</span>
            </li>
            <li class="tal">
                <select>
                    <option value ="volvo">--请选择--</option>
                    <option value ="volvo">001</option>
                    <option value ="saab">002</option>
                </select>
            </li>
            <li>
                <span>操作员代码：</span>
            </li>
            <li class="tal">
                <select>
                    <option value ="volvo">--请选择--</option>
                    <option value ="volvo">001</option>
                    <option value ="saab">002</option>
                </select>
            </li>
        </ul>
    </div>
    <div class="config_button pageBtn">
        <button class="btnConfirm"  ng-click="addralation_sure()">确 定</button>
    </div>
</div>
