<div class="bg">
    <div class="banner-body">
        <div class="index_tit"><h6>模板消息管理</h6></div>
        <div class="banner-body-list clearfix">
            <table class="table table-striped table-bordered table-hover table-center table-amar">
                <tr>
                    <th ng-click="col='state';desc=!desc">序号</th>
                    <th ng-click="col='idente';desc=!desc">模板ID</th>
                    <th ng-click="col='checkNum';desc=!desc">模板标题</th>
                    <th ng-click="col='name';desc=!desc">操作</th>

                </tr>
                <tr ng-click="addsssssss()">
                    <td>1</td>
                    <td>5211541</td>
                    <td>安呼啦巴克</td>
                    <td><a href="javascript:(0)" ng-click="openLay()">查看</a><a href="javascript:(0)">删除</a></td>

                </tr>
                <tr ng-click="addsssssss()">
                    <td>2</td>
                    <td>5211542</td>
                    <td>安呼啦巴克可</td>
                    <td><a href="javascript:(0)" ng-click="openLay()">查看</a><a href="javascript:(0)">删除</a></td>

                </tr>
                <tr ng-click="addsssssss()">
                    <td>3</td>
                    <td>5211543</td>
                    <td>阿姆斯特朗</td>
                    <td><a href="javascript:(0)" ng-click="openLay()">查看</a><a href="javascript:(0)">删除</a></td>

                </tr>
                <tr ng-click="addsssssss()">
                    <td>4</td>
                    <td>5211544</td>
                    <td>安呼啦巴克阿姆斯特朗加速</td>
                    <td><a href="javascript:(0)" ng-click="openLay()">查看</a><a href="javascript:(0)">删除</a></td>

                </tr>
            </table>
            <a class="btna_blue" ng-click="openNew()">添加消息模板</a>
            <div class="page clearfix fr">
                <a class="first" href="javascript:;"></a>
                <a class="prev" href="javascript:;"></a>
                <a href="javascript:;">1</a>
                <a class="current" href="javascript:;">2</a>
                <a href="javascript:;">3</a>
                <a href="javascript:;">4</a>
                <a href="javascript:;">5</a>
                <a href="javascript:;">6</a>
                <a href="javascript:;">7</a>
                <a href="javascript:;">8</a>
                <a href="javascript:;">9</a>
                <a href="javascript:;">10</a>
                <a class="next" href="javascript:;"></a>
                <a class="end" href="javascript:;"></a>
                <span style="margin-left: 21px">跳至第</span>
                <select class="jump">
                    <option value=""></option>
                    <option value="">1</option>
                    <option value="">2</option>
                    <option value="">3</option>
                </select>
                <span>页（共365个）</span>
            </div>
        </div>
    </div>
    <div ng-if="layer_detailText">
        <div class="mask"></div>
        <div class="thick_service">
            <div class="index_tit"><h6>查询列表</h6></div>
            <div class="feedback_message">
                <p>反馈类型：咨询</p>
                <p>联系方式：13131313131</p>
                <p>提交时间：2017-09-01 12:12:12</p>
            </div>
            <div class="service_particulars">
                <p>反馈内容：</p><p>This is your contribution graph. Your first s for joining GitHub and you'll earn more as you make additional contributions. More contributions means a darker green square for that day. Over time, your chart might start looking something like this.
                We have a quick guide that will show you how to create your first repository and earn more green squares!</p>
            </div>
            <div class="service_particulars bottom" ng-click="addralation_sure()">
                <a  class="btn_close">确定</a>
            </div>
        </div>
    </div>
    <div  ng-if="layer_NewText">
        <div class="mask"></div>

        <div class="lay_addTemplate">
            <div class="index_tit"><h6>添加模板消息</h6></div>
            <dl>
                <dt>模板标题：</dt>
                <dd><input type="text"></dd>
            </dl>
            <dl>
                <dt>模板内容：</dt>
                <dd><textarea name=""></textarea></dd>
            </dl>
            <a href="JavaScript:(0)"  ng-click="closeNew()">确定</a><a href="JavaScript:(0)" ng-click="closeNew()">取消</a>
        </div>
    </div>
    <div ng-if="layer_viewText">
        <div class="mask"></div>
        <div class="lay_addTemplate">
            <div class="index_tit"><input type="text" value="模板" class="v_input"></div>
            <div class="box_text">
                <textarea value="模板内容"></textarea>
            </div>
            <a href="JavaScript:(0)" ng-click="closeLay()">确定</a><a href="JavaScript:(0)">取消</a>
        </div>
    </div>

</div>