<div class="index_con">
    <div class="index_list">
        <div class="index_tit"><h6>增加角色配置</h6></div>
        <div style="overflow: hidden">
            <div class="fl comLabel">
                <h6>角色管理</h6>
                <ul class="list_ul rolelist">
                    <li>
                        <span>角色名称：</span>
                    </li>
                    <li>
                        <input type="text" class="fl"  ng-model="xxxx">
                    </li>
                    <li>
                        <span>添加描述：</span>
                    </li>
                    <li style="height: auto;">
                        <textarea>

                        </textarea>
                    </li>
                </ul>
            </div>
            <div class="fr comLabel">
                <h6>权限列表</h6>
                <div>机构树插件</div>
            </div>
        </div>
        <div class="config_button">
            <button>确 定</button> <button ng-click="addRole_back()">返回</button>
        </div>
    </div>
</div>