<div class="index_con">
    <div class="bigTit">
        <i></i><p>欢迎来到微店管理系统～</p>
    </div>
    <div class="bigTit">
        <i></i><p>欢迎来到微店管理系统～</p>
    </div>
    <div class="bigTit">
        <i></i><p>欢迎来到微店管理系统～</p>
    </div>
    <div class="bigTit">
        <i></i><p>欢迎来到微店管理系统～</p>
    </div>
    <div class="bigTit">
        <i></i><p>欢迎来到微店管理系统～</p>
    </div>
    <div class="bigTit">
        <i></i><p>欢迎来到微店管理系统～</p>
    </div>
    <div class="bigTit">
        <i></i><p>欢迎来到微店管理系统～</p>
    </div>
    <div class="bigTit">
        <i></i><p>欢迎来到微店管理系统～</p>
    </div>
    <div class="index_list listBox">
        <div class="index_tit"><h6>常用功能</h6></div>
        <div class="parent_ul">
            <ul class="index_ul">
            <li>
                <span>权限管理</span>
                <i></i>
            </li>
            <li class="li2" ng-click="region()">
                <span>区域管理</span>
                <i></i>
            </li>
            <li class="li3" ng-click="suspends()">
                <span>展业人员管理</span>
                <i></i>
            </li>
            <li  class="li4" ng-click="applications()">
                <span>客户管理</span>
                <i></i>
            </li>
            <li class="li5" ng-click="messages()">
                <span>消息管理</span>
                <i></i>
            </li>
            <li class="li6">
                <span>统计管理</span>
                <i></i>
            </li>
            <li class="li7" ng-click="saledatas()">
                <span>销售数据管理</span>
                <i></i>
            </li>
            <li  class="li8" ng-click="feedbacks()">
                <span>反馈管理</span>
                <i></i>
            </li>
        </ul>
        </div>
    </div>
    <p class="recent">最近访问：<span class="visit">区域管理</span></p>
</div>