<div class="index_local index_local1">
    <i></i><a href="#">首页</a>
</div>
<div class="ind_top">
    <div class="ind_app pageWidth">
        1111
    </div>
    <div class="ind_applic pageWidth">

    </div>
    <div class="ind_edo pageWidth">

    </div>
</div>
<div class="ind_top">
    <div class="ind_app pageWidth">
        2222
    </div>
    <div class="ind_applic pageWidth">

    </div>
    <div class="ind_edo pageWidth">

    </div>
</div>
<div class="ind_top">
    <div class="ind_app pageWidth">
        3333
    </div>
    <div class="ind_applic pageWidth">

    </div>
    <div class="ind_edo pageWidth">

    </div>
</div>
<div class="ind_top">
    <div class="ind_app pageWidth">
        4444
    </div>
    <div class="ind_applic pageWidth">

    </div>
    <div class="ind_edo pageWidth">

    </div>
</div>
<div class="ind_top">
    <div class="ind_app pageWidth">
        5555
    </div>
    <div class="ind_applic pageWidth">

    </div>
    <div class="ind_edo pageWidth">

    </div>
</div>
<div class="ind_top">
    <div class="ind_app pageWidth">
        6666
    </div>
    <div class="ind_applic pageWidth">

    </div>
    <div class="ind_edo pageWidth">

    </div>
</div>
<div class="ind_top">
    <div class="ind_app pageWidth">
        7777
    </div>
    <div class="ind_applic pageWidth">

    </div>
    <div class="ind_edo pageWidth">

    </div>
</div>