<div class="bg">
    <div class="title"><h2>区域焦点图管理</h2></div>
    <div class="banner-head clearfix">
        <ul class="banner-head-form clearfix">
            <li class="fl">
                <label class="label label-w1">投放位置：</label>
                <div class="input input-w1 select ">
                    <span></span>
                    <ul>
                        <li>店铺首页</li>
                        <li>店主管理首页</li>

                    </ul>
                </div>
            </li>
            <li class="fl">
                <label class="label label-w1">投放地区：</label>
                <div class="input input-w1 select ">
                    <span></span>
                    <ul>
                        <li>全国</li>
                        <li>北京</li>
                        <li>上海</li>
                        <li>天津</li>
                        <li>重庆</li>
                    </ul>
                </div>
            </li>
            <li class="fl">
                <label class="label label-w1">活动数量：</label>
                <div class="input input-w1 select ">
                    <span></span>
                    <ul>
                        <li>1</li>
                        <li>2</li>
                        <li>3</li>
                        <li>4</li>
                        <li>5</li>
                        <li>6</li>
                        <li>7</li>
                        <li>8</li>
                    </ul>
                </div>
            </li>

            <li class="fl">
                <div class="m fl">
                    <input class="btn btn-style1" type="button" value="查询"/>
                </div>
            </li>
        </ul>
    </div>
    <div class="banner-body">
        <div class="banner-body-head clearfix">
            <span class="fl">区域焦点图配置列表</span>
        </div>
        <div class="banner-body-list clearfix">
            <table class="line-bottom" width="100%" cellpadding="0" cellspacing="0">
                <tr>
                    <th width="6%"><p class="top"><span class="span checkall-btn"><span class="check"></span>地区</span></p></th>
                    <th width="9%"><p class="top">投放位置</p></th>
                    <th width="4%"><p class="top">活动<br/>数量</p></th>
                    <th width="8%"><p class="top">活动1</p></th>
                    <th width="8%"><p class="top">活动2</p></th>
                    <th width="8%"><p class="top">活动3</p></th>
                    <th width="8%"><p class="top">活动4</p></th>
                    <th width="8%"><p class="top">活动5</p></th>
                    <th width="8%"><p class="top">活动6</p></th>
                    <th width="8%"><p class="top">活动7</p></th>
                    <th width="8%"><p class="top">活动8</p></th>
                    <th width="10%"><p class="top">操作时间</p></th>
                    <th width="8%">操作</th>
                </tr>
                <tr>
                    <td class="aa"><span class="span check-item"><span class="check"></span>全国</span></td>
                    <td><p class="ellipsis">店铺首页</p></td>
                    <td>4</td>
                    <td><p class="ellipsis">全国活动1</p></td>
                    <td><p class="ellipsis">全国活动1</p></td>
                    <td><p class="ellipsis">全国活动1</p></td>
                    <td><p class="ellipsis red">全国活动1</p></td>
                    <td><p class="ellipsis">全国活动1</p></td>
                    <td><p class="ellipsis">全国活动1</p></td>
                    <td><p class="ellipsis">全国活动1</p></td>
                    <td><p class="ellipsis">全国活动1</p></td>
                    <td><p class="ellipsis">2016-10-10  12:10</p></td>
                    <td><a class="modify pdding05" href="设置区域焦点图.html">修改</a><a class="delete pdding05" href="javascript:;">删除</a></td>
                </tr>
                <tr>
                    <td class="aa"><span class="span check-item"><span class="check"></span>北京</span></td>
                    <td><p class="ellipsis">店铺首页</p></td>
                    <td>4</td>
                    <td><p class="ellipsis">全国活动1</p></td>
                    <td><p class="ellipsis">全国活动1</p></td>
                    <td><p class="ellipsis">全国活动1</p></td>
                    <td><p class="ellipsis">全国活动1</p></td>
                    <td><p class="ellipsis">全国活动1</p></td>
                    <td><p class="ellipsis">全国活动1</p></td>
                    <td><p class="ellipsis">全国活动1</p></td>
                    <td><p class="ellipsis">全国活动1</p></td>
                    <td><p class="ellipsis">2016-10-10  12:10</p></td>
                    <td><a class="modify pdding05" href="设置区域焦点图.html">修改</a><a class="delete pdding05" href="javascript:;">删除</a></td>
                </tr>
                <tr>
                    <td><span class="span check-item"><span class="check"></span>北京</span></td>
                    <td><p class="ellipsis">店铺首页</p></td>
                    <td>4</td>
                    <td><p class="ellipsis">全国活动1</p></td>
                    <td><p class="ellipsis">全国活动1</p></td>
                    <td><p class="ellipsis">全国活动1</p></td>
                    <td><p class="ellipsis">全国活动1</p></td>
                    <td><p class="ellipsis">全国活动1</p></td>
                    <td><p class="ellipsis">全国活动1</p></td>
                    <td><p class="ellipsis">全国活动1</p></td>
                    <td><p class="ellipsis">全国活动1</p></td>
                    <td><p class="ellipsis">2016-10-10  12:10</p></td>
                    <td><a class="modify pdding05" href="设置区域焦点图.html">修改</a><a class="delete pdding05" href="javascript:;">删除</a></td>
                </tr>
                <tr>
                    <td><span class="span check-item"><span class="check"></span>北京</span></td>
                    <td><p class="ellipsis">店主管理首页</p></td>
                    <td>4</td>
                    <td><p class="ellipsis">全国活动1</p></td>
                    <td><p class="ellipsis">全国活动1</p></td>
                    <td><p class="ellipsis">全国活动1</p></td>
                    <td><p class="ellipsis">全国活动1</p></td>
                    <td><p class="ellipsis">全国活动1</p></td>
                    <td><p class="ellipsis">全国活动1</p></td>
                    <td><p class="ellipsis">全国活动1</p></td>
                    <td><p class="ellipsis">全国活动1</p></td>
                    <td><p class="ellipsis">2016-10-10  12:10</p></td>
                    <td><a class="modify pdding05" href="设置区域焦点图.html">修改</a><a class="delete pdding05" href="javascript:;">删除</a></td>
                </tr>
                <tr>
                    <td><span class="span check-item"><span class="check"></span>北京</span></td>
                    <td><p class="ellipsis">店主管理首页</p></td>
                    <td>4</td>
                    <td><p class="ellipsis">全国活动1</p></td>
                    <td><p class="ellipsis">全国活动1</p></td>
                    <td><p class="ellipsis">全国活动1</p></td>
                    <td><p class="ellipsis">全国活动1</p></td>
                    <td><p class="ellipsis">全国活动1</p></td>
                    <td><p class="ellipsis">全国活动1</p></td>
                    <td><p class="ellipsis">全国活动1</p></td>
                    <td><p class="ellipsis">全国活动1</p></td>
                    <td><p class="ellipsis">2016-10-10  12:10</p></td>
                    <td><a class="modify pdding05" href="设置区域焦点图.html">修改</a><a class="delete pdding05" href="javascript:;">删除</a></td>
                </tr>
                <tr>
                    <td><span class="span check-item"><span class="check"></span>北京</span></td>
                    <td><p class="ellipsis">店主管理首页</p></td>
                    <td>4</td>
                    <td><p class="ellipsis">全国活动1</p></td>
                    <td><p class="ellipsis">全国活动1</p></td>
                    <td><p class="ellipsis">全国活动1</p></td>
                    <td><p class="ellipsis">全国活动1</p></td>
                    <td><p class="ellipsis">全国活动1</p></td>
                    <td><p class="ellipsis">全国活动1</p></td>
                    <td><p class="ellipsis">全国活动1</p></td>
                    <td><p class="ellipsis">全国活动1</p></td>
                    <td><p class="ellipsis">2016-10-10  12:10</p></td>
                    <td><a class="modify pdding05" href="设置区域焦点图.html">修改</a><a class="delete pdding05" href="javascript:;">删除</a></td>
                </tr>
                <tr>
                    <td><span class="span check-item"><span class="check"></span>北京</span></td>
                    <td><p class="ellipsis">店铺首页</p></td>
                    <td>4</td>
                    <td><p class="ellipsis">全国活动1</p></td>
                    <td><p class="ellipsis">全国活动1</p></td>
                    <td><p class="ellipsis">全国活动1</p></td>
                    <td><p class="ellipsis">全国活动1</p></td>
                    <td><p class="ellipsis">全国活动1</p></td>
                    <td><p class="ellipsis">全国活动1</p></td>
                    <td><p class="ellipsis">全国活动1</p></td>
                    <td><p class="ellipsis">全国活动1</p></td>
                    <td><p class="ellipsis">2016-10-10  12:10</p></td>
                    <td><a class="modify pdding05" href="设置区域焦点图.html">修改</a><a class="delete pdding05" href="javascript:;">删除</a></td>
                </tr>
                <tr>
                    <td><span class="span check-item"><span class="check"></span>北京</span></td>
                    <td><p class="ellipsis">店主管理首页</p></td>
                    <td>4</td>
                    <td><p class="ellipsis">全国活动1</p></td>
                    <td><p class="ellipsis">全国活动1</p></td>
                    <td><p class="ellipsis">全国活动1</p></td>
                    <td><p class="ellipsis">全国活动1</p></td>
                    <td><p class="ellipsis">全国活动1</p></td>
                    <td><p class="ellipsis">全国活动1</p></td>
                    <td><p class="ellipsis">全国活动1</p></td>
                    <td><p class="ellipsis">全国活动1</p></td>
                    <td><p class="ellipsis">2016-10-10  12:10</p></td>
                    <td><a class="modify pdding05" href="设置区域焦点图.html">修改</a><a class="delete pdding05" href="javascript:;">删除</a></td>
                </tr>
                <tr>
                    <td><span class="span check-item"><span class="check"></span>北京</span></td>
                    <td><p class="ellipsis">店主管理首页</p></td>
                    <td>4</td>
                    <td><p class="ellipsis">全国活动1</p></td>
                    <td><p class="ellipsis">全国活动1</p></td>
                    <td><p class="ellipsis">全国活动1</p></td>
                    <td><p class="ellipsis">全国活动1</p></td>
                    <td><p class="ellipsis">全国活动1</p></td>
                    <td><p class="ellipsis">全国活动1</p></td>
                    <td><p class="ellipsis">全国活动1</p></td>
                    <td><p class="ellipsis">全国活动1</p></td>
                    <td><p class="ellipsis">2016-10-10  12:10</p></td>
                    <td><a class="modify pdding05" href="设置区域焦点图.html">修改</a><a class="delete pdding05" href="javascript:;">删除</a></td>
                </tr>
            </table>
            <div class="page clearfix fr">
                <a class="first" href="javascript:;"></a>
                <a class="prev" href="javascript:;"></a>
                <a href="javascript:;">1</a>
                <a class="current" href="javascript:;">2</a>
                <a href="javascript:;">3</a>
                <a href="javascript:;">4</a>
                <a href="javascript:;">5</a>
                <a href="javascript:;">6</a>
                <a href="javascript:;">7</a>
                <a href="javascript:;">8</a>
                <a href="javascript:;">9</a>
                <a href="javascript:;">10</a>
                <a class="next" href="javascript:;"></a>
                <a class="end" href="javascript:;"></a>
                <span style="margin-left: 21px">跳至第</span>
                <select class="jump">
                    <option value=""></option>
                    <option value="">1</option>
                    <option value="">2</option>
                    <option value="">3</option>
                </select>
                <span>页（共365个）</span>
            </div>
        </div>
    </div>
</div>