<div style="overflow: hidden">
    <!--<div class="index_tit"><h6>角色指派</h6></div>-->
    <div class="fl comLabel">
        <h6>机构列表</h6>
        <div>机构树插件</div>
    </div>
    <div class="fr comLabel">
        <h6>角色列表</h6>
        <table  class="table table-striped table-bordered table-hover new_tab">
            <tr>
                <th></th>
                <th>角色名称</th>
                <th>指派时间</th>
                <th>指派人</th>
            </tr>
            <!--<tr ng-repeat="d in roleList">-->
            <!--<td><input type="radio"></td>-->
            <!--<td ng-bind="d.xxx">1</td>-->
            <!--<td ng-bind="d.xxx">1</td>-->
            <!--<td ng-bind="d.xxx">1</td>-->
            <!--</tr>-->
            <tr>
                <td><input type="radio" class="radioCSS"></td>
                <td>管理员</td>
                <td>2017-09-15</td>
                <td>张三</td>
            </tr>
        </table>
    </div>
</div>
<div class="config_button pageBtn">
    <button class="btnConfirm" ng-click="save()">保 存</button>
</div>