<div class="container-fluid index_top">
    <div class="row">
        <div class="logo fl"><img src="images/logo.png" alt=""/>
            <!--<span>后台管理系统</span>-->
        </div>
        <div class="fr">
            <div class="top_r" ng-click="funListShow()" ng-mouseleave="contentBoxLeave()">
                <img src="images/icon_name.png">
                <span>
                    <label ng-bind="topName"></label>，欢迎登录系统！
                    <label class="dateCSS">{{currentData | date:'yyyy-MM-dd HH:mm'}}</label>
                </span>
            </div>
            <ul class="top_ul" ng-show="headerFunList" ng-mouseenter="funListShow()" ng-mouseleave="contentBoxLeave()">
                <li ng-click="changePassword()"><img src="images/top_ul2.png" style="margin-top: 5px" >修改密码</li>
                <li ng-click="log_out()"><img src="images/top_ul4.png" style="margin-top: 8px">注销登录</li>
            </ul>
        </div>
    </div>
</div>