<!--展业人员管理-->
<div class="index_local index_local1">
    <i></i><a href="#">首页</a><span>></span><a href="#">展业人员管理</a>
</div>
<div ng-controller="suspendCtrl">
    <div style="width: 100%">
        <ul class="title" style="width: 97%">
            <li class="btntab btn-style1 fl top-btn" ng-class="{true:'btn-style1',false:'btn-style2'}[curActive=='appli']" ng-click="applicationTab()">普通用户管理</li>
            <li  class="btntab btn-style2 fl top-btn" ng-class="{true:'btn-style1',false:'btn-style2'}[curActive=='endor']" ng-click="endorseTab()">
展业人员管理</li>
        </ul>
    </div>
    <div class="proposalTab" ui-view=""> </div>
</div>
