<div class="index_local index_local1">
    <i></i><a href="#">首页</a><span>></span><a href="#">机构管理</a>
</div>
<div style="overflow: hidden">
    <div class="contentMargin">
        <div class="fl comLabel bgcolor border">
            <h6>机构列表</h6>
            <div>机构树插件</div>
        </div>
        <div class="fr comLabel">
            <div class="config_top">
                <h6>查询条件</h6>
                <ul class="list_ul">
                    <li>
                        <span>当前机构：</span>
                    </li>
                    <li>
                        <input type="text" class="fl"  ng-model="xxxx">
                    </li>
                </ul>
                <div class="pending_btn">
                    <div class="pending_btn1">
                        <a href="#" class="a_search">查询</a>
                        <a href="#" class="a_reset">重置</a>
                    </div>
                </div>
            </div>
            <!--查询结果-->
            <div class="index_list" style="background-color:#fff;">
                <div class="index_tit">
                    <h6 class="fl">查询列表</h6>
                </div>
                <table class="table table-striped table-bordered table-hover">
                    <tr>
                        <th width="58px">序号</th>
                        <th width="15%">机构代码</th>
                        <th width="15%">机构名称</th>
                        <th width="25%">地址</th>
                        <th width="18%">电话</th>
                        <th width="15%">操作</th>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td>21465</td>
                        <td>机构1</td>
                        <td>北京市朝阳区</td>
                        <td>15713684582</td>
                        <td class="t_last">
                            <div class="div_pad">
                                <a href="#" class="a_col" ng-click="see()">查看</a>
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>
<div class="config_button pageBtn">
    <button class="btnConfirm" ng-click="save()">保 存</button>
</div>

<!--删除-->
<div ng-if="layer_cancle" data-ng-include="'components/index/tpl/layer/layer_tipMessage.html'"></div>