<div class="mask"></div>
<div class="picontent cus newMask" style="top:10%">
    <ul>
        <li class="remove_header">
            <span>车商渠道详情</span>
            <em ng-click="addRole_back()"><i></i></em>
        </li>
    </ul>
    <div class="tab_width table-bordered">
        <ul class=" list_ul layerList">
            <li>
                <span>渠道名称：</span>
            </li>
            <li class="tal">
                <input type="text" class="fl" ng-model="xxxx" readonly="readonly">
            </li>
            <li>
                <span>渠道编号：</span>
            </li>
            <li class="tal">
                <input type="text" class="fl" ng-model="xxxx" readonly="readonly">
            </li>
            <li>
                <span>兼业代理资格证号：</span>
            </li>
            <li class="tal">
                <input type="text" class="fl" ng-model="xxxx" readonly="readonly">
            </li>
            <li>
                <span>代理协议号：</span>
            </li>
            <li class="tal">
                <input type="text" class="fl" ng-model="xxxx" readonly="readonly">
            </li>
            <li>
                <span>归属机构：</span>
            </li>
            <li class="tal">
                <input type="text" class="fl" ng-model="xxxx" readonly="readonly">
            </li>
            <li>
                <span>联系人：</span>
            </li>
            <li class="tal">
                <input type="text" class="fl" ng-model="xxxx" readonly="readonly">
            </li>
            <li>
                <span>联系方式：</span>
            </li>
            <li class="tal">
                <input type="text" class="fl" ng-model="xxxx" readonly="readonly">
            </li>
            <li>
                <span>上级领导：</span>
            </li>
            <li class="tal">
                <input type="text" class="fl" ng-model="xxxx" readonly="readonly">
            </li>
            <li>
                <span>好友数量：</span>
            </li>
            <li class="tal">
                <input type="text" class="fl" ng-model="xxxx" readonly="readonly">
            </li>
            <li>
                <span class="Downdrag">下级好友：</span>
            </li>
            <li class="tal">
                <input type="text" class="fl Downdrag" ng-model="xxxx" readonly="readonly">
            </li>
            <li>
                <span>是否有效：</span>
            </li>
            <li class="tal">
                <input type="text" class="fl" ng-model="xxxx" readonly="readonly">
            </li>
        </ul>
    </div>
    <div class="config_button pageBtn">
        <button class="btnConfirm"  ng-click="addRole_back()">确 定</button>
    </div>
</div>


