<div class="mask"></div>
<div class="mask_remove picontent cus">
    <ul>
        <li class="remove_header">
            <span>本月绩效详情</span>
            <em ng-click="addRole_back()"><i></i></em>
        </li>
    </ul>
    <div class="tab_width">
        <table class="table table-striped table-bordered table-hover">
            <tr>
                <th>保单号</th>
                <th>险种</th>
                <th>投保时间</th>
                <th>起保时间</th>
                <th>终保时间</th>
                <th>保费</th>
                <th>业务归属机构</th>
            </tr>
            <tr>
                <td>410923199601128888</td>
                <td>意外险</td>
                <td>2017.09.18</td>
                <td>2017.09.18</td>
                <td>2017.09.18</td>
                <td>10万</td>
                <td>机构1</td>
            </tr>
        </table>
    </div>
    <div class="config_button pageBtn">
        <button class="btnConfirm"  ng-click="addRole_back()">确 定</button>
    </div>
</div>
