<div class="mask"></div>
<div class="picontent cus newMask" style="top:10%">
    <ul>
        <li class="remove_header">
            <span>业务员详细信息</span>
            <em ng-click="addRole_back()"><i></i></em>
        </li>
    </ul>
    <div class="tab_width table-bordered">
        <ul class=" list_ul layerList">
            <li>
                <span>员工姓名：</span>
            </li>
            <li class="tal">
                <input type="text" class="fl" ng-model="xxxx" readonly="readonly">
            </li>
            <li>
                <span>手机号码：</span>
            </li>
            <li class="tal">
                <input type="text" class="fl" ng-model="xxxx" readonly="readonly">
            </li>
            <li>
                <span>身份证号：</span>
            </li>
            <li class="tal">
                <input type="text" class="fl" ng-model="xxxx" readonly="readonly">
            </li>
            <li>
                <span>出生日期：</span>
            </li>
            <li class="tal">
                <input type="text" class="fl" ng-model="xxxx" readonly="readonly">
            </li>
            <li>
                <span>性别：</span>
            </li>
            <li class="tal">
                <input type="text" class="fl" ng-model="xxxx" readonly="readonly">
            </li>
            <li>
                <span>邮箱：</span>
            </li>
            <li class="tal">
                <input type="text" class="fl" ng-model="xxxx" readonly="readonly">
            </li>
            <li>
                <span>归属机构：</span>
            </li>
            <li class="tal">
                <input type="text" class="fl" ng-model="xxxx" readonly="readonly">
            </li>
            <li>
                <span>好友数量：</span>
            </li>
            <li class="tal">
                <input type="text" class="fl" ng-model="xxxx" readonly="readonly">
            </li>
            <li>
                <span class="Downdrag">上级好友：</span>
            </li>
            <li class="tal">
                <input type="text" class="fl Downdrag" ng-model="xxxx" readonly="readonly">
            </li>
            <li>
                <span class="Downdrag">下级好友：</span>
            </li>
            <li class="tal">
                <input type="text" class="fl Downdrag" ng-model="xxxx" readonly="readonly">
            </li>
        </ul>
    </div>
    <div class="config_button pageBtn">
        <button class="btnConfirm"  ng-click="addRole_back()">确 定</button>
    </div>
</div>

