<div class="index_local">
    <div class="index_local1">
        <i></i><a href="#">首页</a><span>></span><a href="#">更改被保险人</a>
    </div>
</div>
<ul class="index_process">
    <li class="li_active"><i></i><span>1.批改信息录入</span></li>
    <li><i class="i_1"></i><span>2.批改信息确认</span></li>
    <li><i class="i_2"></i><span>3.完成</span></li>
</ul>
<div class="index_con">
    <!--保单基本信息-->
    <div class="index_list">
        <div class="index_tit"><h6>批改基本信息</h6></div>
        <ul class="list_ul">
            <li><span>批改类型：</span></li>
            <li><span class="fl">更改被保险人信息</span></li>

            <li><span>批改申请号码：</span></li>
            <li><span class="fl">TE201600100000001</span></li>

            <li><em>*</em><span >批改申请日：</span></li>
            <li>
                <input type="text" placeholder="" class="date-input fl date" value="2016-01-21"  data-beatpicker="true">
            </li>
            <li>
                <em>*</em><span>批改生效日：</span></li>
            <li>
                <input type="text" placeholder="" class="date-input fl date" value="2016-01-21"  data-beatpicker="true">
                <span class="fl">&nbsp;&nbsp;0时</span>
            </li>

            <li><span>退保原因说明：</span></li>
            <li><input type="text" class="fl"/></li>
        </ul>
    </div>
    <!--业务相关信息-->
    <div class="index_list">
        <div class="index_tit"><h6>业务相关信息</h6></div>
        <ul class="list_ul">
            <li><em>*</em><span>业务来源：</span></li>
            <li>
                <span class="fl">直接业务</span>
            </li>
            <li><em>*</em><span>出单省级机构：</span></li>
            <li>
                <span class="fl">中国人民保险公司上海分公司</span>
            </li>
            <li><em>*</em><span>出单分支机构代码：</span></li>
            <li><span class="fl">001</span></li>
            <li><span>业务归属机构代码：</span></li>
            <li><span class="fl">001</span></li>
            <li><span>销售人员代码：</span></li>
            <li><span class="fl">83227</span></li>
            <li><span>销售人员姓名/名称：</span></li>
            <li><span class="fl">张三</span></li>
            <li><span>归属业务员代码：</span></li>
            <li><span class="fl">83227</span></li>
            <li><span>归属业务员姓名：</span></li>
            <li><span class="fl">张三</span></li>
            <li><span>录单人员代码：</span></li>
            <li><span class="fl">83227</span></li>
            <li><span>录单人员姓名：</span></li>
            <li><span class="fl">张三</span></li>
            <li><em>*</em><span>批改录入人员代码：</span></li>
            <li><input type="text" class="fl"></li>
            <li><em>*</em><span>批改录入人员姓名：</span></li>
            <li><input type="text" class="fl"></li>
        </ul>
    </div>
    <!--保单基本信息-->
    <div class="index_list">
        <div class="index_tit"><h6>保单基本信息</h6></div>
        <ul class="list_ul list_ul1">
            <li><span>保单号码：</span></li>
            <li><span class="fl">TE201600100000001</span></li>
            <li><em>*</em><span>投保日期：</span></li>
            <li>
                <span class="fl">2016-07-20</span>
                <span class="fl">&nbsp;&nbsp;0时</span>
            </li>
            <li><em>*</em><span>保单生效日：</span></li>
            <li><span class="fl">2017-07-19</span></li>
            <li><span>保单终止日：</span></li>
            <li><span class="fl">2017-07-19&nbsp;&nbsp;&nbsp;&nbsp;24时</span></li>
        </ul>
    </div>
    <!--投保人姓名-->
    <div class="index_list">
        <div class="index_tit"><h6>投保人信息</h6></div>
        <ul class="list_ul list_ul1">
            <li><span>投保人类型：</span></li>
            <li class="li_tabs">
                <span class="fl">个人</span>
            </li>
            <li><em>*</em><span>性别：</span></li>
            <li><span class="fl">男</span></li>
            <li><em>*</em><span>姓名：</span></li>
            <li>
                <span class="fl">张三</span>
            </li>
            <li><em>*</em><span>证件号码：</span></li>
            <li>
                <span class="fl">412824199212345678</span>
            </li>
            <li><em>*</em><span>证件类型：</span></li>
            <li><span class="fl">居民身份证</span></li>
            <li><em>*</em><span >电子邮箱：</span></li>
            <li><span class="fl">123456@qq.com</span></li>
            <li><em>*</em><span>手机号码：</span></li>
            <li><span class="fl">13761036666</span></li>
        </ul>
    </div>
    <!--被保险人及投保标的信息-->
    <div class="index_list">
        <div class="index_tit">
            <h6 class="fl">被保险人及投保标的信息</h6>
            <div class="fr  search_box">
                <div class="fr check_search">
                    <input type="text" placeholder="按投标的地址搜索"><i><a href="javascript"></a></i>
                </div>
                <div class="fr check_search">
                    <input type="text" placeholder="按证件号码搜索"><i><a href="javascript"></a></i>
                </div>
                <div class="fr check_search">
                    <input type="text" placeholder="按姓名搜索" ><i><a href="javascript"></a></i>
                </div>
            </div>
        </div>
        <table class="table table-striped table-bordered table-hover" ng-controller="contentTable">
            <tr>
                <th>序号</th>
                <th>被保险人姓名</th>
                <th>证件号码</th>
                <th>投保标的地址</th>
                <th>保险金额</th>
                <th>保费</th>
                <th class="t_last">操作</th>
            </tr>
            <tr ng-repeat="d in data|orderBy:col:desc">
                <td ng-bind="$index+1"></td>
                <td ng-bind="d.name"></td>
                <td ng-bind="d.idente"></td>
                <td ng-bind="d.adress"></td>
                <td ng-bind="d.amount"></td>
                <td ng-bind="d.premium"></td>
                <td class="t_last">
                    <a href="#" class="a_edit">修改</a><span>|</span><a href="#" class="a_delete">删除</a>
                </td>
            </tr>
        </table>
        <div class="index_page">
            <a href="#" class="fl a_download"><i class="i_4"></i><span>下载清单</span></a>
            <div class="fr">
                <span>（1/20）</span>
                <span>每页显示</span>
                <select name="" id="">
                    <option>10</option>
                </select>
                <span>条记录</span>
                <ul class="page">
                    <li class="li_first"><i></i></li>
                    <li class="li_active">1</li>
                    <li>2</li>
                    <li>3</li>
                    <li>4</li>
                    <li>5</li>
                    <li class="li_dian">...</li>
                    <li>20</li>
                    <li class="li_last"><i></i></li>
                </ul>
            </div>
        </div>
    </div>
    <!--btn-->
    <div class="index_btn">
        <a href="#">
            <i class="i_1"></i><span>上传</span>
        </a>
        <a href="#">
            <i class="i_2"></i><span>删除</span>
        </a>
        <a href="#">
            <i class="i_3"></i><span>暂存</span>
        </a>
    </div>
    <div class="index_btn1">
        <a href="#" class="submit">下一步</a>
        <a href="#" class="edit">退出</a>
    </div>
    <!---->
</div>
