<div class="bg">
    <div class="title"><h2>角色管理</h2></div>
    <div class="banner-head clearfix">
        <ul class="banner-head-form clearfix">
            <li class="fl">
                <label class="label label-w5 label-w1">创建日期：</label>
                <input type="text" id="flightData2" jedate class="input input-w2 calendar2"
                       format="YYYY-MM-DD" ng-model="xxxxxxxxxxx"/>
                <span style="display: block;float: left;padding:12px 6px 0">-</span>
                <input type="text" id="flightData3" jedate class="input input-w2 calendar2"
                       format="YYYY-MM-DD" ng-model="xxxxxx"/>
            </li>
            <li>
                <label class="label label-w1">用户角色：</label>
                <input class="input input-w1" type="text"/>
            </li>
            <li class="fl" style="margin-left: 39px;">
                <div class="m2 fl">
                    <input class="btn btn-style1" type="button" value="查询">
                </div>
            </li>
        </ul>
    </div>
    <div class="banner-body" style="margin-top: 20px;">
    <div class="banner-body-head clearfix">
        <span class="fl">角色权限列表</span>
        <a href="添加用户角色.html" class="add-btn fr">添加</a>
    </div>
    <div class="banner-body-list clearfix">
        <table class="region" width="100%" cellpadding="0" cellspacing="0">
            <thead>
            <tr>
                <th width="10%"><p>序号</p></th>
                <th width="20%"><p>用户角色</p></th>
                <th width="20%"><p>创建日期</p></th>
                <th width="30%"><p>管理权限</p></th>
                <th width="20%">操作</th>
            </tr>
            </thead>
            <tr>
                <td>1</td>
                <td>总公司管理员</td>
                <td>2016-10-10  12:10</td>
                <td>微店配置 产品配置 微店装修 运营支持 数据统计</td>
                <td><a class="modify" href="添加用户角色.html">修改</a><a class="delete" href="javascript:;">删除</a></td>
            </tr>
            <tr>
                <td>2</td>
                <td>总公司管理员</td>
                <td>2016-10-10  12:10</td>
                <td>微店配置 产品配置 微店装修 运营支持 数据统计</td>
                <td><a class="modify" href="添加用户角色.html">修改</a><a class="delete" href="javascript:;">删除</a></td>
            </tr>
            <tr>
                <td>3</td>
                <td>总公司管理员</td>
                <td>2016-10-10  12:10</td>
                <td>微店配置 产品配置 微店装修 运营支持 数据统计</td>
                <td><a class="modify" href="添加用户角色.html">修改</a><a class="delete" href="javascript:;">删除</a></td>
            </tr>
        </table>
        <div class="page clearfix fr">
            <a class="first" href="javascript:;"></a>
            <a class="prev" href="javascript:;"></a>
            <a href="javascript:;">1</a>
            <a class="current" href="javascript:;">2</a>
            <a href="javascript:;">3</a>
            <a href="javascript:;">4</a>
            <a href="javascript:;">5</a>
            <a href="javascript:;">6</a>
            <a href="javascript:;">7</a>
            <a href="javascript:;">8</a>
            <a href="javascript:;">9</a>
            <a href="javascript:;">10</a>
            <a class="next" href="javascript:;"></a>
            <a class="end" href="javascript:;"></a>
            <span style="margin-left: 21px">跳至第</span>
            <select class="jump">
                <option value=""></option>
                <option value="">1</option>
                <option value="">2</option>
                <option value="">3</option>
            </select>
            <span>页（共365个）</span>
        </div>
    </div>
</div>
</div>