<!--更改业务信息-->
<div class="index_local">
    <div class="index_local1">
        <i></i><a href="#">首页</a><span>></span><a href="#">更改业务信息</a>
    </div>
</div>
<ul class="index_process">
    <li class="li_active"><i></i><span>1.批改信息录入</span></li>
    <li><i class="i_1"></i><span>2.批改信息确认</span></li>
    <li><i class="i_2"></i><span>3.完成</span></li>
</ul>
<div class="index_con">
    <!--保单基本信息-->
    <div class="index_list">
        <div class="index_tit"><h6>保单基本信息</h6></div>
        <ul class="list_ul">
            <li><span>投保单号：</span></li>
            <li><span class="fl">更改业务相关信息</span></li>

            <li><span>批改申请号码：</span></li>
            <li><span class="fl">PE201600010000001</span></li>

            <li><em>*</em><span>批改申请日：</span></li>
            <li>
                <input type="text" placeholder="" class="date-input fl date" value="2016-01-21"  data-beatpicker="true" required>
            </li>

            <li>
                <em>*</em><span>批改生效日：</span></li>
            <li>
                <input type="text" placeholder="" class="date-input fl date" value="2016-01-21"  data-beatpicker="true" required  >
                <span class="fl">&nbsp;&nbsp;0时</span>
            </li>

            <li><span>批改原因说明：</span></li>
            <li class="correct_reason"><input type="text" class="fl"/></li>
        </ul>
    </div>
    <!--业务相关信息-->
    <div class="index_list">
        <div class="index_tit"><h6>业务相关信息</h6></div>
        <ul class="list_ul">
            <li><em>*</em><span>业务来源：</span></li>
            <li>
                <span class="fl">直接业务</span>
            </li>

            <li><em>*</em><span>出单省级机构：</span></li>
            <li>
                <span class="fl">中国人民保险公司上海分公司</span>
            </li>

            <li><em>*</em><span>出单分支机构代码：</span></li>
            <li>
                <input type="text" placeholder="" class="fl" value="001" required>
            </li>

            <li><span>业务归属机构代码：</span></li>
            <li>
                <input type="text" placeholder="" class="fl" value="001">
            </li>

            <li><span>销售人员代码：</span></li>
            <li>
                <input type="text" placeholder="" class="fl" value="83227">
            </li>

            <li><span>销售人员名称/姓名：</span></li>
            <li>
                <input type="text" placeholder="" class="fl" value="张三">
            </li>

            <li><span>归属业务代码：</span></li>
            <li>
                <input type="text" placeholder="" class="fl" value="83227">
            </li>

            <li><span>归属业务人员：</span></li>
            <li>
                <input type="text" placeholder="" class="fl" value="张三">
            </li>

            <li><span>录单人员代码：</span></li>
            <li>
                <input type="text" placeholder="" class="fl" value="83227">
            </li>

            <li><span>录单人员姓名：</span></li>
            <li>
                <input type="text" placeholder="" class="fl" value="张三">
            </li>

            <li><span>批改录入人员代码：</span></li>
            <li>
                <input type="text" placeholder="" class="fl" value="">
            </li>

            <li><em>*</em><span>批改录入人员姓名：</span></li>
            <li>
                <input type="text" placeholder="" class="fl" value="">
            </li>

            <li><span>批改申请人员代码：</span></li>
            <li>
                <input type="text" placeholder="" class="fl" value="">
            </li>

            <li><span>批改申请人员姓名：</span></li>
            <li>
                <input type="text" placeholder="" class="fl" value="">
            </li>
        </ul>
    </div>
    <div class="index_btn">
        <a href="#" class="policy_info">
            <i class="i_4"></i><span>查阅保单详情</span>
        </a>
        <a href="#">
            <i class="i_1"></i><span>上传</span>
        </a>
        <a href="#">
            <i class="i_2"></i><span>删除</span>
        </a>
        <a href="#">
            <i class="i_3"></i><span>暂存</span>
        </a>
    </div>
    <div class="index_btn1">
        <a href="#" class="submit">下一步</a>
        <a href="#" class="edit">退出</a>
    </div>
</div>