<div class="index_local">
    <div class="index_local1">
        <i></i><a href="#">首页</a><span>></span><a href="#">批改信息确认</a>
    </div>
</div>
<ul class="index_process">
    <li class="li_finish"><i></i><span>1.批改信息录入</span></li>
    <li class="li_active"><i class="i_1"></i><span>2.批改信息确认</span></li>
    <li><i class="i_2"></i><span>3.完成</span></li>
</ul>
<div class="index_con">
    <!--批改基本信息-->
    <div class="index_list">
        <div class="index_tit"><h6>批改基本信息</h6></div>
        <ul class="list_ul list_ul2">
            <li><span>批改类型：</span></li>
            <li><span class="fl">更改被保险人信息</span></li>

            <li><em>*</em><span>批改生效日：</span></li>
            <li><span class="fl">2016-07-21</span></li>
        </ul>
    </div>
    <!--批改内容-->
    <div class="index_list">
        <div class="index_tit"><h6>批改内容</h6></div>
        <div class="correct_content">
            <p>自2016年09月07日零时起，对保单号为123456789保单的业务相关信息做如下批改。</p>
            <p><b>删除业务信息</b></p>
            <table>
                <tr>
                    <th class="list_th1">项目</th>
                    <th>业务信息</th>
                </tr>
                <tr>
                    <td class="list_td1">显示用户修改过的<br/>业务相关信息栏位</td>
                    <td>
                        根据登陆用户识别出单保险公司，筛选出系统所维护的该出单公司的一级机构供用户选择，详细选项请参考文档SHIE_巨灾_
                        BSD_006_城乡居民住宅地震巨灾保险_共保体及其他资料维护。
                    </td>
                </tr>
            </table>
            <p class="p_bold"><b>增加客户信息</b></p>
            <table>
                <tr>
                    <th class="list_th1">项目</th>
                    <th>客户信息</th>
                </tr>
                <tr>
                    <td class="list_td1">显示用户修改过的<br/>业务相关信息栏位</td>
                    <td>
                        根据登陆用户识别出单保险公司，筛选出系统所维护的该出单公司的一级机构供用户选择，详细选项请参考文档SHIE_巨灾_
                        BSD_006_城乡居民住宅地震巨灾保险_共保体及其他资料维护。
                    </td>
                </tr>
            </table>
            <p class="p_bottom">本保险所载其他条件不变，特此批注。</p>
        </div>
    </div>
    <div class="index_list list_money">
        <p>应收保费：<b>10.00</b>元 </p>
    </div>
    <div class="index_btn">
        <a href="#" class="a_2">
            <i class="i_5"></i><span>返回修改</span>
        </a>
        <a href="#">
            <i class="i_2"></i><span>删除</span>
        </a>
    </div>
    <div class="index_btn1">
        <a href="#" class="submit">提交批改</a>
        <a href="#" class="edit">退出</a>
    </div>
</div>