<div class="index_local ng-scope">
    <div class="index_local1">
        <i></i><a href="#">首页</a><span>&gt;</span><a href="#">城乡居民住宅地震巨灾保险</a>
    </div>
</div>
<ul class="index_process ng-scope">
    <li class="li_finish"><i></i><span>1.批改信息录入</span></li>
    <li class="li_finish"><i class="i_1"></i><span>2.批改信息确认</span></li>
    <li class="li_finish"><i class="i_2"></i><span>3.完成</span></li>
</ul>
<div class="index_con">
    <div class="index_list">
        <div class="index_tit"><h6>新增批改</h6></div>
        <div class="order_success">
            <i></i>
                    <span class="order_span">该投保已成功出单！保单号码为P201600E000001
                        <br/>
                        系统已自动发送电子保单给投保人。如需重新发送，请进入“单证下载/发送”进行重发。
                    </span>
        </div>
        <div class="div_back">
            <a href="javascript:void(0)" class="a_back">返回</a>
            <a href="javascript:void(0)" class="a_order">下载电子批单</a>
        </div>

    </div>
</div>