<!--&lt;!&ndash;新增批改&ndash;&gt;-->
<!--&lt;!&ndash;<div class="mask" ng-if="layer_mask"></div>&ndash;&gt;-->
<!--<div class="mask" ></div>-->
<!--&lt;!&ndash;<div class="mask_remove" ng-if="addCorrect">&ndash;&gt;-->
<!--<div class="mask_remove" >-->
    <!--<ul>-->
        <!--<li class="remove_header">-->
            <!--<span>新增批改</span>-->
            <!--<em ng-click="goIndex()"><i></i></em>-->
        <!--</li>-->
        <!--<li class="remove_content1 remove_content2">-->
            <!--<span class="fl"><em>*</em>投保单号:</span><input type="text" class="fl"/>-->
        <!--</li>-->
        <!--<li class="remove_content1 remove_content2">-->
            <!--<span class="fl"><em>*</em>批改类型:</span>-->
            <!--<select class="fl">-->
                <!--<option value="">请选择</option>-->
                <!--<option value="">原因一</option>-->
                <!--<option value="">原因二</option>-->
                <!--<option value="">原因三</option>-->
            <!--</select>-->
        <!--</li>-->
        <!--<li class="remove_button">-->
            <!--<div>-->
                <!--<a href="javascript:void(0)" class="button_sure" ng-click="goPath()">确认</a>-->
                <!--<a href="javascript:void(0)" class="button_cancel" ng-click="goIndex()">返回首页</a>-->
            <!--</div>-->
        <!--</li>-->
    <!--</ul>-->
<!--</div>-->